    <div class="panel moda">
        <form name="form" id="form" class="fomr-horizontal" ng-submit="savepin(mk)">
            <div class="panel-header">
                <p class="text-center category full-width">Pin Information</p>
            </div>
            <div class="panel-content">
                <div class="">
                    <div class="col-md-12">
                        <tabset justified="true">
                            <tab heading="Marker Info">
                                <div class="form-group" id="markerInfo">
                                    <label for="exampleInputEmail1">Description</label>
                                    <input class="form-control" ng-model="mk.description" ng-change="saveMarkerInfo(mk)" required>
                                </div>
                                <div class="form-group">
                                    <label for="name">Video Link</label>
                                    <input type="text" class="form-control" id="name" ng-model="mk.videolink" ng-change="saveMarkerInfo(mk); viddisp(mk.videolink)">
                                </div>
                                <div ng-bind-html="videodisplay"> </div>
                            </tab>
                            <tab heading="Picture" id="pictureTab">
                                <div ngf-drop ngf-select ng-model="files" class="drop-box"
                                        ngf-drag-over-class="dragover" ngf-multiple="true" ngf-change="prepare($files)" allow-dir="true"
                                        accept="image/*">Drop marker images here or click to upload
                                </div>
                                <div class="alert alert-danger alert-dismissible pin-pic-error" role="alert" ng-repeat="fe in flashError">
                                  <button type="button" ng-click="removeerror($index)" class="close pin-pic-error-close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                  <strong>{[{ fe.name }]}</strong> image size is too big.
                                </div>
                                <ul class="pin-pic-list">
                                    <li ng-repeat="image in currentPinImages" style="font:smaller">{[{ image.name }]}
                                    <a href="" class="remove-pin-pic" ng-click="removepinpic($index)"><i class="fa fa-remove"></i></a></li>
                                </ul>
                            </tab>
                        </tabset>
                    </div>
                </div>
            </div>
            <div class="panel-footer hiddenoverflow">
                <div class="pull-left">
                    <label>
                        Show my name as creator.
                        <select name="showauthor" ng-model="mk.showauthor" ng-change="saveMarkerInfo(mk)">
                            <option value="true" selected="selected">Username</option>
                            <option value="false">Secret Agent</option>
                        </select>
                    </label>
                </div>
                <div class="pull-right">
        			<a href="" class="btn btn-default" ng-click="cancel()">Cancel</a>
        			<button class="btn btn-pi" ng-disabled="form.$invalid">Save Pin</button>
                    <div class="spinner pull-left" ng-if="spinner"></div>
        		</div>
            </div>
        </form>
    </div>
