<div class="panel-header">
    <p class="full-width text-center">{[{ username }]}</p>
</div>
<div class="panel-content">
    <ul class="no-list-style">
        <li><a href="" class="no-hover">Dashboard</a></li>
        <li><a ui-sref="account" class="no-hover">Account</a></li>
        <li><a ui-sref="profile({ username: '{[{ username }]}' })" class="no-hover">Profile</a></li>
        <li><a ui-sref="missionmanager" class="no-hover">Mission Manager  <span class="badge badge-pi">{[{notification.pendingpin}]}</span></a></li>
        <li><a href="" class="no-hover">Community</a></li>
    </ul>
</div>