<div class="panel moda">
    <form name="form" id="form" class="fomr-horizontal" ng-submit="changePass(newpass)">
        <div class="panel-header">
            <p class="text-center category full-width"><i class="icon-info"></i> Change Password</p>
        </div>
        <div class="panel-content hiddenoverflow pull-left full-width mg-top">
            <div class="form-group hiddenoverflow">
                <label for="inputEmail3" class="col-lg-offset-1 col-lg-3 control-label">Old Password</label>
                <div class="col-sm-7">
                    <input type="password" class="form-control" ng-model="oldpass"  ng-blur="auth(oldpass)">
                </div>
            </div>
            <div class="form-group hiddenoverflow">
                <label for="inputEmail3" class="col-lg-offset-1 col-lg-3 control-label">New Password</label>
                <div class="col-sm-7">
                    <input class="form-control" id="password" ng-disabled='disableinput' type="password" ng-model="newpass" name="password" required="required" ng-minlength="8" ng-keyup="pstrength()" pass-strength>
                </div>
            </div>
            <div class="form-group hiddenoverflow">
                <label for="inputEmail3" class="col-lg-offset-1 col-lg-3 control-label">Confirm Password</label>
                <div class="col-sm-7">
                    <input type="password" class="form-control" ng-disabled='disableinput' ng-model="confpass" required="required">
                </div>
            </div>
        </div>
        <div class="panel-footer hiddenoverflow full-width">
            <div class="pull-right">
				<a class="btn btn-default" ng-click="close()">Cancel</a>
				<button class="btn btn-pi" ng-disabled="disable==true || newpass!=confpass || form.$invalid">Change</button>
			</div>
        </div>
    </form>
</div>
