<div class="panel moda">
    <form name="form" id="form" class="fomr-horizontal" ng-submit="savepin(mk)">
        <div class="panel-header">
            <p class="text-center category full-width"><i class="icon-info"></i> Notification</p>
        </div>
        <div class="panel-content">
            <p class="mg-top notif-padding">{[{ msg }]}</p>
            <div class="form-horizontal hiddenoverflow mg-bottom notif-padding">
            	<label for="inputEmail3" class="col-lg-10 control-label">Please enter your password:</label>
	            <div class="col-lg-6">
	            	<input type="password" class="form-control" ng-model="password" ng-change="auth(password)">
            	</div>
            </div>
        </div>
        <div class="panel-footer hiddenoverflow full-width">
            <div class="pull-right">
				<a class="btn btn-default" ng-click="close()">Cancel</a>
				<button class="btn btn-pi" ng-click="update()" ng-disabled="disable">Change</button>
			</div>
        </div>
    </form>
</div>
