<form role="form" name="form" id="form" >
	<div class="panel moda">
	<div class="panel-header">
		<p class="modal-title">Mission Cover Photo</p>
	</div>
	<div class="panel-content">

		<tabset justified="true">
			<tab heading="Image Cover" active="isImage" ng-click="onTabSelect('image')">
				<div class="form-group">
					<div class="col-sm-12">
						<div ngf-drop ngf-select ng-model="cover.coverPic" class="drop-box-modal" ngf-drag-over-class="dragover" ng-multiple="true" ngf-change="generateThumb(cover.coverPic[0], $files)" accept="image/*"  ngf-allow-dir="true" required>Drop or Click for the cover photo of your mission.
						</div>
						<br>
						<img ng-show="cover.coverPic[0].dataUrl != null" ng-src="{[{cover.coverPic[0].dataUrl}]}" class="thumb" style="max-width: 100%;">
						<br><br>
					</div>
				</div>
			</tab>
			<tab heading="Video Cover" active="isVideo" ng-click="onTabSelect('video')">
				<br>
				<div class="col-sm-12">
					<input type="text" class="form-control" id="name" ng-model="cover.videolink" ng-change="viddisp(cover.videolink)" placeholder="Insert youtube link here.">
					<div ng-if="videodisplay" ng-bind-html="videodisplay" class="mg-top videocover center-block"> </div> <br><br>
				</div>

			</tab>
		</tabset>
	</div>

	<div class="form-group hiddenoverflow  full-width" >
		<div class="col-sm-12 text-right">
			<a class="btn btn-default" ng-click="closeMapCover()">Cancel</a>
			<a class="btn btn-pi" ng-click="saveMapCover(cover)">Use this as Cover</a>
            <div class="spinner pull-left" ng-if="spinner"></div>
		</div>

	</div>
</div>
</form>