<form role="form" name="form" id="form" >
	<div class="panel moda">
	<div class="panel-header">
		<div class="mission-details">
			<p class="modal-title">Mission Details</p>
		</div>
	</div>
	<div class="panel-content">
		<div class="col-md-12">
			<div class="form-group" show-errors='{ showSuccess: true }'>
				<h4 for="name" class="col-lg-12 control-label">Mission Title</h4>
				<div class="col-lg-12 ">
					<input type="text" class="form-control" id="title" name="title" ng-model="gmap.title" placeholder="Enter your title here" ng-init="gmap.title = gmap.title == 'Mission Title' ? '' : gmap.title" map-title-exist-validator required>
					<span class="help-block" ng-if="form.title.$error.exists">Sorry but the title has already been taken.</span>
					<span class="help-block" ng-if="form.title.$error.required">Mission title is required.</span>
				</div>
			</div>
			<div class="form-group" show-errors='{ showSuccess: true }'>
				<h4 for="exampleInputEmail1" class="col-lg-12 control-label">Mission Description</h4>
				<div class="col-lg-12 ">
					<textarea class="form-control" rows="5" ng-model="gmap.description" id="description" name="description" ng-init="gmap.description = gmap.description == 'Mission Description' ? '' : gmap.description" required></textarea>
					<span class="help-block" ng-if="form.description.$error.required">Mission description is required.</span>
				</div>
			</div>
			<div class="form-group">
				<h4 for="name" class="col-lg-12 control-label">Mission Category</h4>
				<div class="col-lg-12 ">
					<select chosen multiple class="chosen-choices form-control" options="data" ng-options="pl.cattitle for pl in data track by pl.id"  ng-model="gmap.category">
					</select>
				</div>
			</div>
			<div class="form-group">
				<h4 class="col-lg-12 control-label">Mission Tags</h4>
				<div class="col-lg-12">
					<ui-select multiple tagging tagging-label="false" ng-model="gmap.tags" theme="bootstrap" ng-disabled="disabled" title="Choose a color">
						<ui-select-match placeholder="Select tags...">{[{ $item }]} </ui-select-match>
						<ui-select-choices repeat="ta in tag">
							{[{ ta }]}
						</ui-select-choices>
					</ui-select>
				</div>
			</div>
		</div>
	</div>

	<div class="form-group hiddenoverflow  full-width" >
		<br><br>
		<div class="col-sm-12 text-right">
			<a class="btn btn-default" ng-click="closeMapInfo()">Cancel</a>
			<button class="btn btn-pi" ng-disabled="form.$invalid" ng-click="saveMapInfo(gmap)">Save</button>
		</div>

	</div>
</div>
</form>