<form role="form" name="form" id="form" >
	<div class="panel moda">
	<div class="panel-header">
		<p class="modal-title">Mission Map Announcement</p>
	</div>
	<div class="panel-content">

		<tabset justified="true">
			<tab heading="Image Cover" active="isImage" ng-click="onTabSelect('image')">
				<div class="form-group hiddenoverflow">
					<div class="col-sm-12">
						<div ngf-drop ngf-select ng-model="news.image" class="drop-box-modal" ngf-drag-over-class="dragover" ng-multiple="true" ngf-change="generateThumb(news.image[0])" accept="image/*"  ngf-allow-dir="true">Drop or Click for the cover photo of your mission.
						</div>
						<img class="mg-top center-block" ng-show="news.image[0].dataUrl != null" ng-src="{[{news.image[0].dataUrl}]}" class="thumb" style="max-width: 100%;">
					</div>
				</div>
			</tab>
			<tab heading="Video Cover" active="isVideo" ng-click="onTabSelect('video')">
				<br>
				<div class="col-sm-12  hiddenoverflow">
					<input type="text" class="form-control" id="videolink" name="videolink" ng-model="news.videolink" ng-change="viddisp(news.videolink)" placeholder="Insert youtube link here.">
					<div ng-if="videodisplay" ng-bind-html="videodisplay" class="mg-top videocover center-block"> </div>
				</div>

			</tab>
		</tabset>

		<div class="form-group mg-bottom hiddenoverflow pull-left full-width">
			<h4 for="exampleInputEmail1" class="col-lg-12 control-label">Announcement: </h4>
			<div class="col-lg-12 ">
				<textarea class="form-control" rows="5" ng-model="news.news" id="description" name="description"></textarea>
			</div>
		</div>
	</div>

	<div class="form-group hiddenoverflow  full-width" >
		<div class="col-sm-12 text-right">
			<a class="btn btn-default" ng-click="close()">Cancel</a>
			<button class="btn btn-pi" ng-disabled='disable || news.news==undefined' ng-click="saveNews(news)">Publish</button>
            <div class="spinner pull-left" ng-if="spinner"></div>
		</div>

	</div>
</div>
</form>