<form role="form" name="form" id="form" >
	<div class="panel moda">
	<div class="panel-header">
		<div class="mission-details">
			<p class="modal-title">All Categories</p>
		</div>
	</div>
	<div class="panel-content">
		<div class="col-md-12" style="margin-top: 20px;">
			<div class="col-md-6">
				<ul class="list-group" >
					<li class="list-group-item" ng-repeat="c1 in col1"><span ng-bind="c1.countMaps"></span> <i class=" glyphicon glyphicon-map-marker" ></i><a href="/category/{[{ c1.catslugs }]}" ng-click="clickCatInfo()">{[{ c1.cattitle }]}</a></li>
				</ul>
			</div>
			<div class="col-md-6" >
				<ul class="list-group" >
					<li class="list-group-item" ng-repeat="c2 in col2"><span ng-bind="c2.countMaps"></span> <i class=" glyphicon glyphicon-map-marker" ></i><a href="/category/{[{ c2.catslugs }]}" ng-click="clickCatInfo()">{[{ c2.cattitle }]}</a></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="form-group hiddenoverflow  full-width" >
	</div>
</div>
</form>