<div class="panel moda">
	<div class="panel-header">
		<p class="text-center category full-width"><i class="icon-info"></i> Notification</p>
	</div>
	<div class="panel-content">
		<p class="mg-top mg-bottom notif-padding">Are you sure you want to set this as kingpin.</p>
	</div>
	<div class="panel-footer hiddenoverflow">
		<div class="pull-right">
			<a class="btn btn-default" ng-click="close()">Cancel</a>
			<a class="btn btn-primary" ng-click="setPin()">Set KingPin</a>
		</div>
	</div>
</div>
