<div class="panel-header">
    <img src="/img/pilogo.png" alt="">
    <p>Hello Agent!</p>
    <p class="agent-alias">Agent Pi</p>
</div>
<div class="panel-content">
    <div class="list" ng-repeat="news in news">
        <a href="" ng-click="viewNews(news)">
            <div class="date">
                <strong>{[{news.date | date: 'M' }]}</strong>{[{news.date | date: 'd'}]}
            </div>
            <p>&#34;{[{ news.title | limitTo:79}]}&#34;</p>
        </a>
    </div>
    <a href="#" class="viewmore" ng-if="news.length > 0" ng-click="viewmorenews()">view more</a>
</div>
