<div class="panel-header">
	<p class="text-center category">Top Categories</p>
</div>
<div class="panel-content categories">
	<div ng-repeat="cc in categories|limitTo:4">
		<p><span ng-bind="cc.countMaps"></span> <i class=" glyphicon glyphicon-map-marker" ></i>
			<a href="/category/{[{ cc.catslugs }]}"> {[{ cc.cattitle }]} </a>

		</p>
	</div>

	<a href="#" class="viewmore" ng-click="seeMoreCategories()">view more</a>
</div>