
<div class="panel moda">
	<div class="panel-header">
        <div class="mission-details hiddenoverflow">
            <div style="background-image: url('{[{profpic}]}')" class="agent-pic bg-image"></div>
            <p class="agent-name" ng-cloak>{[{ agent }]}</p>
            <small class="pindate pull-left" ng-cloak>{[{ pin.created_at | formatdate }]}</small>
        </div>
	</div>
	<div class="panel-content" ng-if="showdelete==false && showsetkingpin==false && showeditpin==false && showdeleteComment==false && showeditComment==false && showmedia==false">
    <div class="row mg-bottom">
      <div class="col-lg-12 media">
        <div class="content hiddenoverflow">
          <p ng-if="showedit==false" ng-cloak>{[{ pin.description }]}</p>
          <div ng-if="showedit" class="hiddenoverflow">
            <div class="col-lg-10">
              <input type="text" class="form-control pull-left" id="name" ng-model="pin.description">
            </div>
            <div class="col-lg-2 no-padding">
              <div class="pull-right mg-bottom">
                <a ng-click="updatedesc()" class="btn btn-pi btn-sm"> Edit</a>
                <a ng-click="canceledit()" class="btn btn-default btn-sm"> Cancel</a>
              </div>
            </div>
          </div>
          <div class=" mg-bottom">
            <ul id="imageGallery">
              <li ng-repeat="slide in slides" data-thumb="{[{slide.image}]}">
                  <img id="lightslider-img" src="{[{slide.image}]}" ng-if="slide.type=='image'" />
                <div class="full-width" ng-if="slide.type == 'video'" ng-bind-html="slide.videodisplay">
                </div>
              </li>
            </ul>
          </div>
          <!-- <div ng-if="showupload" class="pull-left full-width">

          </div> -->
          <div class="full-width pull-left mg-bottom" ng-if="agentid==pin.agent">
            <div class="pull-right">
                <label>
                    <!--<input type="checkbox" ng-model="pin.hide_agent" ng-change="hideagent(pin.hide_agent)"> Show my name as creator.-->

                    Show my name as creator.
                    <select name="hide_agent" ng-model="pin.hide_agent" ng-change="hideagent(pin.hide_agent)">
                        <option value="true" selected="selected">Username</option>
                        <option value="false">Secret Agent</option>
                    </select>
                </label>
            </div>
          </div>

          <div class="socialmedia-btn">
            <div class="btn-container hiddenoverflow">
                    <!-- facebook -->
                    <div  ng-if="pin.status==1" class="fb-like pull-left social-media" data-href="<?php echo $base_url; ?>/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
                    <!-- twitter -->
                    <a  ng-if="pin.status==1" href="https://twitter.com/share" class="twitter-share-button social-media pull-left">Tweet</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

                    <div class="pull-right map-report-btn mg-bottom" ng-cloak>
                        <div class="pull-left">
                            <i class="fa fa-eye fa-lg"></i> {[{ markerviews }]}
                        </div>
                        <div class="pull-left">
                           <i class="fa fa-comments-o fa-lg"></i> {[{ commentcount }]}
                        </div>
                        <div class="pull-left">
                            <a ng-click="edit()" ng-if="showedit==false && agentid!=null && agentid==pin.agent" class="btn btn-link no-padding pull-left">
                                <i class="fa fa-pencil-square-o fa-lg"></i> Edit
                            </a>
                            <a ng-click="showalbum()" ng-if="showmedia==false && agentid!=null && agentid==pin.agent" class="btn btn-link no-padding pull-left">
                                <i class="fa fa-file-image-o fa-lg"></i> Media Gallery
                            </a>
                            <a ng-click="setkingpin()" class="btn btn-link no-padding pull-left" ng-if="pin.pin==0 && mapagent==agentid && pin.status==1">
                                <i class="fa fa-map-marker fa-lg"></i> Set as Kingpin
                            </a>
                            <a ng-click="deletemission()" class="btn btn-link no-padding pull-left" ng-if="hidedelete==false && (agentid==pin.agent || mapagent==agentid)">
                                <i class="fa fa-trash-o fa-lg"></i> Delete
                            </a>
                        </div>
                    </div>
                </div>
              <div class="comment-container pull-left full-width" ng-cloak ng-if="pin.status==1">
                  <p class="pull-left full-width"><i class="fa fa-comment-o fa-2x"></i> All Action Responses({[{ commentcount}]})
                      <span class="pull-right" ng-if="agentid==null"><a ui-sref="login" ng-click="close()">Sign in</a> or <a ui-sref="registration" ng-click="close()">register</a> to post a comment.</span>
                  </p>
                  <div class="full-width">
                      <div class="commentbox hiddenoverflow" style="width: 100%">
                          <div style="float: left; width: 13%;">
                              <img class="image pull-left" src="{[{agentpic}]}" alt="">
                          </div>
                          <!--<img class="image pull-left" src="{[{agentpic}]}" alt="">-->

                          <!--<textarea class="input form-control pull-left comment mg-bottom" ng-disabled="agentid==null" ng-model="comment" placeholder="Add a comment..." style="width:632px;"></textarea>-->
                          <div style="float: left; width: 86%;">
                              <textarea ckeditor="editorOptions" class="input form-control pull-left comment mg-bottom" name="editor1" ng-model="comment" ng-disabled="agentid==null"></textarea>
                          </div>
                          <a ng-click="addresponse(comment)" class="btn btn-pi pull-right" style="margin-top: 10px;"><i class="fa fa-commenting-o"></i> Post</a>
                      </div>
                      <hr>
                  </div>
                  <div class="commentlist hiddenoverflow" ng-repeat="comment in comments">
                      <!-- <img class="image pull-left" src="{[{comment.profile_pic_name}]}" ng-if="comment.superagent==0" alt=""> -->
                      <div class="image pull-left bg-image" style="background-image: url('{[{ comment.profile_pic_name }]}')" ng-if="comment.superagent==0"></div>
                      <img class="image pull-left" src="/img/pilogo.png" ng-if="comment.superagent==1" alt="">
                      <div class="comment pull-left" style="width:640px;">
                          <h6 class="no-margin mg-bottom">{[{ comment.username }]} | <small>{[{ comment.created_at | formatdatetime }]}</small>

                            <div class="btn-group pull-right" dropdown is-open="status.isopen" ng-if="comment.superagent==0 && (agentid==comment.agent || agentid==mapdetails.agent)">
                              <button type="button" class="btn btn-link" dropdown-toggle ng-disabled="disabled"><span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
                                <li role="menuitem" ng-if="agentid==comment.agent">
                                    <a ng-click="comment.showedit=true" class="btn btn-link pull-left full-width text-left" ng-if="comment.showedit==false">Edit</a>
                                    <a ng-click="comment.showedit=false" class="btn btn-link pull-left full-width text-left" ng-if="comment.showedit">Cancel</a>
                                </li>
                                <li role="menuitem"><a ng-click="deleteComment(comment.id)" class="btn btn-link pull-left full-width text-left">Delete</a></li>
                              </ul>
                            </div>

                          </h6>
                          <p  ng-cloak ng-bind-html="comment.reply" ng-if="comment.showedit==false"></p>
                          <!-- edit comment -->
                          <div class="full-width pull-left" ng-if="comment.showedit">
                              <textarea class="input form-control pull-left full-width mg-bottom" ng-model="comment.reply" placeholder="Add a comment..."></textarea>
                              <a ng-click="editResponse(comment.id, comment.reply)" class="btn btn-pi pull-right"><i class="fa fa-pencil-square-o"></i> Save</a>
                          </div>
                      </div>
                  </div>

                  <button ng-if="commentcount > comments.length" class="btn btn-block btn-pi" ng-click="loadcomment()">Load more</button>
              </div>

              <div class="pull-lef full-width" ng-if="pendingaction">
                <footer class="panel-footer">
                    <div class="pull-right">
                        <a class="btn btn-default" ng-click="pendingpinAction(pin.id, 'disapprove')">Disapprove</a>
                        <a class="btn btn-pi" ng-click="pendingpinAction(pin.id, 'approve')">Approve</a>
                    </div>
                </footer>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
	</div>

  <div class="panel-content hiddenoverflow full-width mg-top" ng-if="showmedia">
      <div class="row mg-top">
        <div class="col-lg-12">
            <div class="notif-padding">
              <div ngf-drop ngf-select ng-model="files" class="drop-box"
                                  ngf-drag-over-class="dragover" ngf-multiple="true" ngf-change="prepare($files)" allow-dir="true"
                                  accept="image/*"  style="padding-top: 5%;">Drop marker images here or click to upload
              </div>
              <div class="alert alert-danger alert-dismissible pin-pic-error" role="alert" ng-repeat="fe in flashError">
                <button type="button" ng-click="removeerror($index)" class="close pin-pic-error-close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong ng-cloak>{[{ fe.name }]}</strong> image size is too big.
              </div>

              <div class="full-width">
                <div class="col-lg-11 no-padding">
                  <input type="text" class="form-control pull-left" id="name" ng-model="slide.video" ng-change="validatevid(slide.video)">
                </div>
                <div class="no-padding hiddenoverflow pull-left" style="width:65px">
                  <div class="pull-right mg-bottom">
                    <a ng-click="updateyt(slide.video)" class="btn btn-pi btn-block" ng-disabled='yt==false'> Save</a>
                  </div>
                </div>
              </div>

              <div ng-if="spinner"><div class="spinner pull-left"></div> Uploading image/s...</div>
              <div class="pull-left album mg-bottom">

                <div class="mg-bottom" ng-if="deleting"><div class="spinner pull-left"></div> Deleting image...</div>

                <div ng-repeat="slide in slides" class="pull-left images" style="background-image: url('{[{slide.image}]}');">
                  <div class="galleryactionbutton">
                    <button  ng-if="slide.type=='image'" class="btn btn-default btn-xs pull-right" ng-click="deleteimg(slide.id)"><icon class="fa fa-times-circle"></icon></button>
                  </div>
                </div>
              </div>

            </div>
        </div>
      </div>

      <footer class="panel-footer">
          <div class="pull-right">
              <a class="btn btn-default" ng-click="cancel()">Cancel</a>
              <!-- <a class="btn btn-primary" ng-click="deletePin(pin.id)">Delete</a> -->
          </div>
      </footer>
  </div>

  <div class="panel-content hiddenoverflow  full-width" ng-if="showdelete">
      <div class="pull-left full-width" style="padding: 17px 70px 10px 108px;">
          <p class="mg-top">Are you sure you want to delete this action pin?</p>
      </div>
      <footer class="panel-footer">
          <div class="pull-right">
              <a class="btn btn-default" ng-click="cancel()">Cancel</a>
              <a class="btn btn-pi" ng-click="deletePin(pin.id)">Delete</a>
          </div>
      </footer>
  </div>

  <div class="panel-content hiddenoverflow  full-width" ng-if="showsetkingpin">
      <div class="pull-left full-width" style="padding: 17px 70px 10px 108px;">
          <p class="mg-top">Are you sure you want to set this as king pin?</p>
      </div>
      <footer class="panel-footer">
          <div class="pull-right">
              <a class="btn btn-default" ng-click="cancel()">Cancel</a>
              <a class="btn btn-pi" ng-click="setPin(pin.id)">ok</a>
          </div>
      </footer>
  </div>

  <div class="panel-content hiddenoverflow  full-width" ng-if="showdeleteComment">
      <div class="pull-left full-width" style="padding: 17px 70px 10px 108px;">
          <p class="mg-top">Are you sure you want to delete this comment?</p>
      </div>
      <footer class="panel-footer">
          <div class="pull-right">
              <a class="btn btn-default" ng-click="cancel()">Cancel</a>
              <a class="btn btn-pi" ng-click="deletec()">Delete</a>
          </div>
      </footer>
  </div>

  <div class="panel-content hiddenoverflow  full-width" ng-if="showeditComment">
      <div class="pull-left full-width" style="padding: 17px 70px 10px 108px;">
          <p class="mg-top">Are you sure you want to edit this comment?</p>
      </div>
      <footer class="panel-footer">
          <div class="pull-right">
              <a class="btn btn-default" ng-click="cancel()">Cancel</a>
              <a class="btn btn-pi" ng-click="editcomment()">edit</a>
          </div>
      </footer>
  </div>
</div>
