<form role="form" name="form" id="form" >
	<div class="panel moda">
	<div class="panel-header">
		<div class="mission-details">
			<p class="modal-title">{[{ title }]}</p>
			<button type="button" class="close" aria-label="Close" ng-click="close()"><span aria-hidden="true">&times;</span></button>
		</div>
	</div>
	<div class="panel-content hiddenoverflow">
		<div class="col-lg-12">
			<div class="notif-padding" ng-if="deleteshow==false && editshow==false">
				<h4>{[{news.title}]}</h4>
				<h6>{[{ news.created_at | formatdate }]}{[{news.datecreated | formatdate}]}</h6>
				<h6>{[{news.summary}]}</h6>

				<img src="{[{news.cover}]}" class="center-block" style="width:85%;" ng-if="news.coverType=='image'" alt="">
				<div ng-if="news.coverType=='video'" ng-bind-html="videodisplay" class="center-block videocover"></div>

				<p class="mg-top">{[{ news.news }]}</p>
				<p class="mg-top" ng-bind-html="news.body | trustedHtml"></p>

				<div ng-if="author" class="author hiddenoverflow mg-bottom">
					<div class="col-sm-3">
						<div class="authorimg bg-image" ng-if='author.image' style="background-image: url('{[{amazonlink}]}uploads/saveauthorimage/{[{author.image}]}');">	
						</div>
						<div class="authorimg bg-image" ng-if='!author.image' style="background-image: url('/img/user.png');">	
						</div>
					</div>
					<div class="col-sm-9">
						<h5>{[{ author.name }]} - <small>{[{ author.occupation }]}</small></h5>
						<small ng-bind-html="author.about | limitTo:140"></small>
					</div>
				</div>

				<div class="pull-right mg-bottom" ng-if="agentid == agent">
					<button class="btn btn-default" ng-click="close()">Cancel</button>
					<button class="btn btn-danger" ng-click="deleteNews()">Delete</button>
	    			<button class="btn btn-pi" ng-click="editNews()">Edit</button>
				</div>

			</div>

			<div class="notif-padding mg-top mg-bottom" ng-if="deleteshow">
				<p>Are you sure you want to delete this announcement?</p>

				<div class="pull-right mg-bottom">
					<button class="btn btn-default" ng-click="close()">Cancel</button>
					<button class="btn btn-danger" ng-click="delete()">Delete</button>
				</div>
			</div>

			<div ng-if="editshow">
				<tabset justified="true">
					<tab heading="Image Cover" active="isImage" ng-click="onTabSelect('image')">
						<div class="form-group hiddenoverflow">
							<div class="col-sm-12">
								<div ngf-drop ngf-select ng-model="news.image" class="drop-box-modal" ngf-drag-over-class="dragover" ng-multiple="true" ngf-change="generateThumb(news.image[0])" accept="image/*"  ngf-allow-dir="true">Drop or Click for the cover photo of your mission.
								</div>
								<img class="mg-top center-block" ng-show="news.image[0].dataUrl != null" ng-src="{[{news.image[0].dataUrl}]}" class="thumb" style="max-width: 100%;">
							</div>
						</div>
					</tab>
					<tab heading="Video Cover" active="isVideo" ng-click="onTabSelect('video')">
						<br>
						<div class="col-sm-12  hiddenoverflow">
							<input type="text" class="form-control" id="videolink" name="videolink" ng-model="news.cover" ng-change="viddisp(news.cover)" placeholder="Insert youtube link here.">
							<div ng-if="videodisplay" ng-bind-html="videodisplay" class="mg-top videocover center-block"> </div>
						</div>

					</tab>
				</tabset>

				<div class="form-group mg-bottom hiddenoverflow pull-left full-width">
					<h4 for="exampleInputEmail1" class="col-lg-12 control-label">Announcement: </h4>
					<div class="col-lg-12 ">
						<textarea class="form-control" style="max-width:100%;" rows="5" ng-model="news.news" id="description" name="description"></textarea>
					</div>
				</div>

				<div class="col-sm-12 text-right mg-bottom">
					<a class="btn btn-default" ng-click="close()">Cancel</a>
					<button class="btn btn-pi" ng-disabled='disable || news.news==undefined' ng-click="updateNews(news)">Publish</button>
		            <div class="spinner pull-left" ng-if="spinner"></div>
				</div>
			</div>
		</div>
	</div>
</div>
</form>
