<form role="form" name="form" id="form" >
	<div class="panel moda">
	<div class="panel-header">
		<div class="mission-details">
			<p class="modal-title">{[{ title }]}</p>
			<button type="button" class="close" aria-label="Close" ng-click="close()"><span aria-hidden="true">&times;</span></button>
		</div>
	</div>
	<div class="panel-content newslist">
		<div class="col-lg-12" ng-repeat="news in news">
			<a href="" ng-click="viewnews(news)">
				<div class="col-lg-4">
					<div class="cover" style="background-image: url('{[{news.cover}]}');" ng-if="news.coverType=='image'"></div>
					<div class="cover" style="background-image: url('{[{news.cover | returnYoutubeThumb}]}');" ng-if="news.coverType=='video'"></div>
				</div>
				<div class="col-lg-8">
					<h4 ng-if="news.title">{[{ news.title | limitTo: 40 }]}</h4>
					<h6 ng-if="news.title">{[{ news.created_at | formatdate }]}</h6>
					<h4 ng-if="!news.title">{[{ news.created_at | formatdate }]}</h4>
					<p ng-if="news.news">&#34;{[{ news.news }]}&#34;</p>
					<p ng-if="news.summary">&#34;{[{ news.summary | limitTo: 205 }]}&#34;</p>
				</div>
			</a>
		</div>
		<div class="col-lg-12">
			<a href="" ng-if="count > news.length" class="btn btn-pi pull-left full-width" ng-click="loadmore()">Load more</a>
		</div>
	</div>
</div>
</form>
