
<div class="panel moda">
	<div class="panel-header">
        <div class="mission-details hiddenoverflow">
            <div style="background-image: url('{[{agent.pic}]}')" class="agent-pic bg-image"></div>
            <p class="agent-name" ng-cloak>{[{ agent.name }]}</p>
        </div>
	</div>
	<div class="panel-content">
    <div class="row mg-top mg-bottom">
      <div class="col-lg-12">
        <div class="notif-padding">
          <a class="maps pull-left btn btn-link" ng-repeat="map in maps" ng-click="selectMap(map.mapslugs)">
            <div class="gmap hiddenoverflow pull-left">
              <!-- Google Maps. Replace the below iframe with your Google Maps embed code -->
              <ui-gmap-google-map center='map.map.center' zoom='map.map.zoom' options="options">
                  <ui-gmap-marker ng-repeat="marker in map.markers" coords="{latitude:marker.lat, longitude:marker.long}" idkey="marker.id" icon="marker.icon"></ui-gmap-marker>
              </ui-gmap-google-map>
            </div>
            <h5 class="pull-left full-width text-left" ng-bind-html="map.title"></h5>
            <small class="pull-left"><span class="fa fa-eye"></span> {[{map.views}]} | <span class="fa fa-comments-o"></span>{[{map.commentcount}]}</small>
          </a>
        </div>
      </div>
    </div>
	</div>
</div>
