
<!-- Page content starts -->

<div class="content" ng-controller="LoginCtrl">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <!-- Some content -->
                <h3 class="title">Register Today <span class="color">!!!</span></h3>
                <h4 >Morbi tincidunt posuere turpis eu laoreet</h4>
                <p>Nullam in est urna. In vitae adipiscing enim. Curabitur rhoncus condimentum lorem, non convallis dolor faucibus eget. In vitae adipiscing enim. Curabitur rhoncus condimentum lorem, non convallis dolor faucibus eget. In ut nulla est. </p>
                <h5>Maecenas hendrerit neque id</h5>
                <ul>
                    <li>Etiam adipiscing posuere justo, nec iaculis justo dictum non</li>
                    <li>Cras tincidunt mi non arcu hendrerit eleifend</li>
                    <li>Aenean ullamcorper justo tincidunt justo aliquet et lobortis diam faucibus</li>
                    <li>Maecenas hendrerit neque id ante dictum mattis</li>
                    <li>Vivamus non neque lacus, et cursus tortor</li>
                </ul>

                <p>Nullam in est urna. In vitae adipiscing enim. In ut nulla est. Nullam in est urna. In vitae adipiscing enim. Curabitur rhoncus condimentum lorem, non convallis dolor faucibus eget. In ut nulla est. </p>

            </div>

            <!-- Login form -->
            <div class="col-md-6">
                <div class="formy well">
                    <!-- Title -->
                    <h4 class="title">Login to Your Account</h4>
                    <p>&nbsp;</p>
                    <div class="form">

                        <!-- Login form (not working)-->

                        <form class="form-horizontal"  role="form" name="loginform" ng-submit="login(log)">
                            <div class="alert alert-danger" role="alert" ng-if=" loginerror != ''">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                <span class="sr-only">Error:</span>
                                {[{ loginerror }]}
                            </div>
                            <div class="form-group" show-errors='{ showSuccess: true }'>
                                <label for="inputEmail1" class="col-lg-3 control-label">Email/Username:</label>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control" id="inputEmail1" name="email" ng-model="log.email" placeholder="Email" required>
                                    <span class="help-block" ng-if="loginform.email.$error.required">Email is required</span>
                                    <span class="help-block" ng-if="loginform.email.$error.email">Email is invalid</span>
                                </div>
                            </div>
                            <div class="form-group" show-errors='{ showSuccess: true }'>
                                <label for="inputPassword1" class="col-lg-3 control-label">Password:</label>
                                <div class="col-lg-8">
                                    <input type="password" class="form-control" id="inputPassword1" name="password" ng-model="log.password" placeholder="Password" required="">
                                    <span class="help-block" ng-if="loginform.password.$error.required">Password is required</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-offset-3 col-lg-8">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> Remember me
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-offset-3 col-lg-10">
                                    <button type="submit" class="btn btn-default pull-left" style="margin-right: 10px;">Sign in</button>
                                    <button type="reset" class="btn btn-default pull-left">Reset</button>
                                    <div class="spinner pull-left" ng-if="formStatus"></div>
                                </div>
                            </div>
                        </form>

                        <hr />

                        <!-- Register link -->
                        Don't have an Account? <a ui-sref="registration">Sign up.</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Page content ends -->