/* Custom Fonts */

@font-face {
    font-family: Orbitron;
    src: url(/fonts/Orbitron-Regular.ttf);
}

/* Others */

body {
    margin: 0px;
    font-family: 'Orbitron', sans-serif;
    color: #515151;
}

footer {
    height: auto;
}

.container{
  max-width: none !important;
  width: 1170px;
  padding-left: 0;
  padding-right: 0;
}

.row-fix {
    margin-left: 0;
    margin-right: 0;
}



/* Header */
#header {
    top: 0px;
    position: fixed !important;
    z-index: 9999;
    background-color: #FFF;
    height: auto;
}

#header .row,
#header {
    height: auto;
}

#header-logo {
    padding-top: 3px;
}

#header-logo-image {
    display: inline-block;
    vertical-align: middle;
    height: 75px;
    width: 75px;
}

#header-logo-text {
    display: inline-block;
    vertical-align: middle;
    font-style: italic;
    font-weight: bold;
    margin-left: 5px;
}

#header-logo-text h3 {
    font-weight: bolder;
    margin-top: 12px;
    margin-bottom: 2px;
    font-size: 1.5em;
    color: #000;
}

#header-logo-text p {
    font-size: 0.75em;
}

#header-search,
#header-login {
    height: 100%;
}

#header-search {
    text-align: center;
}

#header-search-text {
    display: inline-block;
    vertical-align: middle;
    margin-top: 36px;
}

#header-search-input {
    display: inline-block;
    vertical-align: middle;
    border: 1px solid black;
    border-radius: 1px;
    height: 35px;
    margin-top: 22px;
    margin-left: 4px;
    width: 90%;
    background: url(/img/new_assets/search-icon.png) no-repeat scroll 98% 7px;
    background-color: #FFF;
    background-size: 24px 24px;
    padding-right: 42px;
    padding-top: 4px;
    padding-left: 12px;
}

#header-login {
    text-align: right;
}

#header-login button {
    margin-top: 24px;
    color: #000;
    border-radius: 0;
    padding-top: 9px;
    padding-left: 28px;
    padding-right: 28px;
}

#loginBtn {
    background-color: #FFD966;
    border: none;
}

#loginBtn:hover {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.2);
}

#createBtn {
    background-color: #F1C232;
    border: none;
}

#createBtn:hover {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.2);
}


/* Navigation */

#navigation {
    height: 37px;
    background-color: #515151;
    position: fixed !important;
    top: 78px;
    /*width: 100%;*/
    z-index: 9999;
}

#navigation .row {
    height: 100%;
}

#nav-toggler {
    height: 100%;
    margin-top: 6px;
}

#nav-toggler i {
    font-size: 24px;
}

#nav-menu-list {
    color: #FFF;
    list-style: none;
    /*text-align: center;*/
    height: auto;
    padding-top: 8px;
    margin-bottom: 0;
    -webkit-padding-start: 0px;
    -moz-padding-start: 0px;
}

#nav-menu-list li {
    display: inline-block;
    margin-left: 8%;
    font-size: 18px;
}

#nav-menu-list li a {
    color: #FFF;
    text-decoration: none;
}

#nav-brand-logo {
    display: inline-block;
    height: 19px;
    width: 20px;
    margin-top: -4px;
    /*vertical-align: center;*/
}

#nav-brand-text {
    display: inline-block;
    color: #FFF;
    margin-top: 8px;
    font-size: 18px;
    margin-left: 12px;
}


/* Main Content */

#main-content {
    width: 100%;
    position: relative;
    padding: 0;
    height: auto;
    margin-top: 115px;
}


/* Sidebar */

#sidebar {
    position: fixed;
    height: 100%;
    background-color: #515151;
    -webkit-transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000);
    -moz-transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000);
    -o-transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000);
    transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000);
    color: #FFF;
    padding-top: 20px;
    z-index: 9999;
}

#sidebar ul#group {
    /*padding-top: 180px;*/
    list-style: none;
    -webkit-padding-start: 20px;
    -moz-padding-start: 20px;
}

#sidebar ul#group .group-titles {
    font-size: 18px;
}

#sidebar ul#subgroup {
    list-style: none;
    -webkit-padding-start: 20px;
    -moz-padding-start: 20px;
}

#sidebar ul#subgroup li {
    margin-top: 10px;
    font-size: 12px;
    font-family: 'Arial';
}

#sidebar ul#subgroup li a {
    color: #fdfdfd;
    text-decoration: none;
}

.show-sidebar {
    width: 195px;
    left: 0;
}

.hide-sidebar {
    width: 195px;
    left: -195px;
}

/* Slider */

.slider-img {
    width: 100%;
    height: 520px;
}
.slider-search{
    margin-top: 300px;
    text-align: center;
}
.slider-search > label {
    font-size: 18px;
    padding-top: 20px;
    color: #011;
}
.slider-search > input {
    border: 1px solid black;
    border-radius: 1px;
    height: 40px;
    width: 600px;
    background: url(/img/new_assets/search-icon.png) no-repeat scroll 98% ;
    background-color: #FFF;
    background-size: 24px 24px;
    padding: 10px;
}
.slider-bottom {
    background-color: #073763;
    color: #FFF;
    padding: 8px 12px;
}
.slider-bottom > div > div > span{
    margin-right: 150px;
}
.action-block-button {
    background-color: #1155CC;
    color: #FFF;
    border-radius: 0px;
    border: none;
    font-size: 1.1em;
}

/* Footer Content */

#footer-content {
    background-image: url('/img/frontend/footer.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 260px;
}

.content-col {
    height: 100%;
}

.content-col-title {
    margin-top: 40px;
    color: #F1C232;
    font-weight: bold;
    font-size: 1.2em;
}

.content-col ul {
    margin-top: 12px;
    padding: 0;
}

.content-col ul li {
    margin-bottom: 12px;
    font-size: 1.1em;
    list-style: none;
}

.content-col ul li a {
    color: #FFF;
}

#newsletter-text {
    font-family: 'Arial';
    color: #FFF;
    font-size: 0.9em;
    line-height: 24px;
}

#newsletter-email {
    display: block;
    height: 32px;
    padding: 4px;
    background: url(/img/new_assets/newsletter-icon.png) no-repeat scroll 98% 7px;
    background-color: #FFF;
    background-size: 16px 16px;
    padding-right: 28px;
    width: 100%;
}


/* Footer Bottom */

#footer-bottom {
    padding: 8px 32px;
    background-color: #F1C232;
}

#footer-bottom > span {
    font-family: 'Arial';
    margin-left: 0;
}

#footer-bottom > ul {
    display: inline-block;
    -webkit-padding-start: 0px;
    -moz-padding-start: 0px;
}

#footer-bottom > span,
#footer-bottom > ul {
    margin-top: 16px;
}

#footer-bottom > ul > li {
    display: inline-block;
    margin-left: 32px;
}

#footer-bottom > ul > li > a {
    display: inline-block;
    /*margin-right: 10px;*/
    font-family: 'Arial';
    font-size: 1.1em;
    text-decoration: none;
    color: #515151;
    font-weight: 800;
}

#footer-logo > img {
    display: inline-block;
    vertical-align: middle;
    height: 48px;
    width: 48px;
}

#footer-logo > span {
    display: inline-block;
    vertical-align: middle;
    font-family: 'Orbitron';
    font-size: 1.5em;
    font-style: italic;
    margin-top: 6px;
}


/* Advertisements */

#top-ads,
#bottom-ads {
    margin: 24px 0;
}


/* PI's Mission */

#PIMission {
    background-color: #D9EAD3;
    height: 260px;
    color: #000;
}

#PIMission > .container > p{
    word-spacing: 5px;
    font-family: "Arial";

}


/* Featured Missions */
/*.card-image {

}*/
#featured-missions > div > h2 {
    color: #000;
    margin-bottom: 0;
}

#featured-missions > div > sub {
    font-size: 1.1em;
    font-family: 'Arial';
    color: #4A86E8;
}

#mission-items {
    margin-top: 12px;
}

.mission-card {
    margin-bottom: 12px;
}

.mission-card > .wrapper {
    border: #CCC solid 1px;
}

.mission-card > .wrapper > img {
    height: 240px;
    width: 100%;
}

.mission-card > .wrapper > .card-image {
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    height: 185px;
}

/* Card Info 3 */

.card-info-3 {
    /*background-color: #666666;*/
    background: url(/img/new_assets/missionCard.png) no-repeat scroll;
    background-size: 338px;
    z-index: 99999;
    margin-top: -16px; 
    padding: 12px;
    font-family: 'Orbitron';
    color: #FFF;
}

.card-info-3 > img {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    margin-top: -3px;
    margin-left: 5px;
    position: absolute;
    border:2px solid;
    border-color:#d2d2d2
}

.card-info-3 > p {
    margin: 0;
    margin-top: 5px;
    font-size: 11px;
    margin-left: 100px;
}

.wrapperFooter {
    background-color: #2d2d2d;
    height: 20px;
}
.wrapperFooter > .row > .col-xs-12 > .col-xs-6 > p {
    color: #d2d2d2;
    font-style: italic;
    margin: 0;
    margin-top: 5px;
    font-size: 10px;
}


/*Flags*/
.flagCon{
    cursor: pointer;
    position: absolute;
    overflow: hidden;
    position: absolute;
    margin-top: 10px;
    width: 140px;
    height: 30px;
    font-size: 1.1em;
    font-family: 'Arial';

}

.flagIcon{
    position: absolute;
    left: -110px;
    width: 140px;
    background-color: rgba(255,0,0,0.7) ;
    height: 30px;
    transition: 0.5s;
    color: white;
}


/*Views*/
.viewsCon{
    cursor: pointer;
    position: absolute;
    overflow: hidden;
    position: absolute;
    margin-top: 50px;
    width: 120px;
    height: 30px;
    font-size: 1.1em;
    font-family: 'Arial';

}

.viewsIcon{
    position: absolute;
    left: -90px;
    width: 120px;
    background-color: rgba(000,0,0,0.7) ;
    height: 30px;
    transition: 0.5s;
    color: white   ;
}

/*comments*/
.commentsCon{
    cursor: pointer;
    position: absolute;
    overflow: hidden;
    position: absolute;
    margin-top: 85px;
    width: 120px;
    height: 30px;
    font-size: 1.1em;
    font-family: 'Arial';

}
.commentsIcon{
    position: absolute;
    left: -90px;
    width: 120px;
    background-color: rgba(000,0,0,0.7) ;
    height: 30px;
    transition: 0.5s;
    color: white   ;
}

/*Pin*/
.pinCon{
    cursor: pointer;
    position: absolute;
    overflow: hidden;
    position: absolute;
    margin-top: 120px;
    width: 120px;
    height: 30px;
    font-size: 1.1em;
    font-family: 'Arial';

}
.pinIcon{
    position: absolute;
    left: -90px;
    width: 120px;
    background-color: rgba(000,0,0,0.7) ;
    height: 30px;
    transition: 0.5s;
    color: white   ;
}

.flagIcon > span {
    line-height: 30px;
    padding-right: 5px;
}
.viewsIcon > span, .commentsIcon > span , .pinIcon > span {
    line-height: 25px;
    padding-right: 5px;
}


.flagIcon > label {
    font-size: 15px;
    margin-left: 20px;
    cursor: pointer;
    margin-right: 15px;
    line-height: 30px;
    text-shadow: 2px 2px 4px #000000;
}

.viewsIcon > label, .commentsIcon > label, .pinIcon > label {
    font-size: 10px;
    margin-left: 5px;
    cursor: pointer;
}


.wrapper:hover .pinIcon, .wrapper:hover .commentsIcon, .wrapper:hover .viewsIcon {
    transition: 0.5s;
    background-color: rgba(000,0,0,0.6) ;
    left: 0;
}
.wrapper:hover .flagIcon{
    transition: 0.5s;
    background-color: rgba(255,0,0,0.6) ;
    left: 0;
}


/* Latest Missions */

#latest-missions > div > h2 {
    color: #000;
    margin-bottom: 0;
}

#latest-missions > div > sub {
    font-size: 1.1em;
    font-family: 'Arial';
    color: #4A86E8;
}


/* Recommended Missions */

#recommended-missions > div > h2 {
    color: #000;
    margin-bottom: 0;
}

#recommended-missions > div > sub {
    font-size: 1.1em;
    font-family: 'Arial';
    color: #4A86E8;
}


/* Helper Classes */

.show-border {
    border: 1px solid black;
}

.margin-sm {
    margin-top: 36px;
}

.margin-md {
    margin-top: 30px;
}

.no-padding {
    padding: 0;
}

.no-margin {
    margin: 0;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.test-height {
    height: 80px;
}

/* jimmy css */

/* search box inside location at slider */

.searchdiv {
    position: absolute; 
    top: 220px;
    left: 350px;
}

/* search box on location */

.searchloc {
    margin-left: 12px;
    margin-top: 10px;
    margin-right: 5px;
    position: relative;
    color: #aaa;
    font-size: 11px;
}

.searchloc input {
    width: 145px;
    height: 28px;
    background: #fcfcfc;
    border: 1px solid #aaa;
}

.searchloc input { text-indent: 0px; margin-right: 32px; }
.searchloc .fa-search { 
    position: absolute;
    top: 5px;
    font-size: 16px;
    left: 120px;
}

.maincon {
    padding-top:45px;
}

.pulleft {
    padding-right: 150px;
}

.gtitles {
    padding-top:80px;
    color: #fdfdfd !important;
    font-size: 17.5px;
    list-style: none;
    -webkit-padding-start: 40px;
    -moz-padding-start: 20px;
}

/* spy */

#spy ul#group {
    list-style: none;
    -webkit-padding-start: 40px;
    -moz-padding-start: 20px;
}

#spy ul#group .group-titles {
    font-size: 18px;
}

#spy ul#subgroup {
    list-style: none;
    -webkit-padding-start: 20px;
    -moz-padding-start: 20px;
}

#spy ul#subgroup li {
    margin-top: 10px;
    font-size: 12px;
    font-family: 'Arial';
}

#spy ul#subgroup li a {
    color: #fdfdfd;
    text-decoration: none;
}

.show-spy {
    width: 195px;
    left: 0;
}

.hide-spy {
    width: 195px;
    left: -195px;
}

.liner {
    margin-left: auto;
    margin-right: auto;
}