body {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    color: #515151;
}


/*classes*/

.input {
    border: #c5c5c5 1px solid;
    width: 283px;
    height: 13px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 12px;
}

.container {
    width: 992px;
    display: block;
    margin: auto;
    padding: 0px;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.videocover {
    width: 500px;
    height: 300px;
}

.break-word {
    word-wrap: break-word;
}

.notif-padding {
    padding: 0px 30px;
}

.newslist {
    height: 344px;
    overflow-y: scroll;
    overflow-x: none;
}

.newslist .col-lg-12 {
    padding-top:10px;
    padding-bottom:10px;
}

.newslist .col-lg-4,
.newslist .col-lg-8 {
    padding-left: 0px;
}

.newslist .cover{
    width: 100%;
    height: 130px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 12px;
}

.center-element {
    display: block;
    margin: auto;
}

.missions-container {
    width: 100%;
    overflow: hidden;
}

.content-header {
    border-bottom: #ccc solid 1px;
    margin-bottom: 15px;
}

.content-header p {
    margin: 0px 0px 8px 0px;
    font-size: 20px
}

.mission-group .two-column.left {
    width: 370px;
    float: left;
}

.mission-group .two-column.right {
    width: 347px;
    float: left;
}

.mission-group .mission {
    border: #ccc solid 1px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 1.5px 1.5px 5px #ccc;
    -moz-box-shadow: 1.5px 1.5px 5px #ccc;
    -webkit-box-shadow: 1.5px 1.5px 5px #ccc;
    height: 339px;
}

.mission-group .mission .agent-name {
    font-size: 14px;
    margin: 0px;
}

.mission-group .mission .mission-desc {
    font-size: 20px;
    width: 100%;
    position: relative;
    top: -12px;
    margin-bottom: 0px;
}

.mission-group .mission .actions {
    font-size: 14px;
    color: #8d8d8d;
    display: inline-block;
    margin-bottom: 19px;
}

.mission-group .seemore {
    color: #ffd800;
    text-decoration: none;
    padding: 15px 0;
    float: right;
    font-size: 20px;
    font-weight: bold;
    text-align: right;
}

.mission-group.search .mission {
    border: #ccc solid 1px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 1.5px 1.5px 5px #ccc;
    -moz-box-shadow: 1.5px 1.5px 5px #ccc;
    -webkit-box-shadow: 1.5px 1.5px 5px #ccc;
    height: 390px;
}

.mission-group.search .mission .map {
    height: 145px;
    background-position: center center;
    background-size: cover!important;
    background-repeat: no-repeat;
}

.mission-group.search .mission .agent-pic {
    width: 50px;
    height: 50px;
    float: left;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    position: relative;
    top: -28px;
    margin-right: 8px;
}

.mission-group.search .mission .mission-details {
    padding:0px 15px;
}
.mission-group.search .mission .mission-title {
    font-size: 16px;
    line-height: 18px;
}
.mission-group.search .mission .mission-desc {
    font-size: 13px;
    line-height: 15px;
}
.mission-group.search .mission .mission-desc-container {
    position: relative;
    top: -21px;
    width: 100%;
    height: 156px;
}

.content-header p img {
    position: relative;
    /*bottom: -5px;*/
}

.mg-top {
    margin-top: 20px;
}

.mg-bottom {
    margin-bottom: 15px;
}

.hiddenoverflow {
    overflow: hidden;
}

.no-padding {
    padding: 0px;
}

.no-scroll-y {
    overflow-y: none;
}

.no-scroll-x {
    overflow-x: none;
}

.bg-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;  
}

/*header */

.header {
    width: 100%;
    padding-top: 29px;
    padding-bottom: 25px;
    float: left;
}

.logo {
    width: 265px;
}

.header .blue-link {
    font-size: 12px;
    float: left;
    /*width: 404px;*/
}

.header-links {
    float: left;
    padding: 0px;
    margin: 0px;
}

.h-list li {
    display: inline;
    font-size: 14px;
}

.header-links li:first-child {
    margin-right: 20px;
}

.blue-link {
    color: #5eb2d9;
    text-decoration: none;
}

.blue-link:hover {
    color: #4f99bc;
}

.b-link {
    color: #000;
    text-decoration: none;
}

.b-link:hover {
    text-decoration: none;
}

.full-width {
    width: 100%!important;
    max-width: 100%;
}

#header-input-search {
    margin: 0 20px;
    height: 37px;
}


/*nav*/

.navigation {
    height: 39px;
    width: 100%;
    float: left;
    background-color: #515151;
}

.navigation .container {
    width: 665px;
}

.navigation ul.h-list {
    padding: 6px 0px;
    margin: 0px;
    height: 39px;
}

.navigation ul.h-list li {
    padding: 0px;
    margin: 0 46.5px;
}

.navigation ul.h-list li a {
    color: #fff;
    text-decoration: none;
}


/*banner*/

.small-banner {
    height: 118px;
    width: 100%;
    float: left;
    background: #ffd800;
    border-bottom: #feee6a 5px solid;
    /*background-image: url('../../img/frontend/banner.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;*/
}

.small-banner h1 {
    font-size: 36px;
    margin: 8px 0px 0px 0px;
}

.breadcrumbs {
    padding: 0px;
    margin: 20px 0px 0px 0px;
}

.breadcrumbs li,
.breadcrumbs li a {
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}

.breadcrumbs li:after {
    content: url('../../img/frontend/see-more.png');
    margin: 0px 0px 0px 3px;
    top: 3px;
    position: relative;
}

.breadcrumbs li.active,
.breadcrumbs li.active:after {
    color: #8a8989;
    content: none;
}

.banner {
    height: 173px;
    width: 100%;
    float: left;
    background-image: url('../../img/frontend/banner.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.banner p {
    font-size: 24px;
    margin-top: 15px;
    margin-bottom: 0px;
    height: 25px;
}

.banner h1 {
    font-size: 38.93px;
    margin: 0px 0px 10px 0px;
}

.banner-btn {
    height: 44px;
    background: #cdb118;
    font-size: 18px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    padding-left: 50px;
    padding-right: 50px;
    cursor: pointer;
}


/*content*/

.content {
    float: left;
    width: 100%;
    margin-top: 70px;
    padding-bottom: 95px;
}

.content .main-content {
    width: 717px;
    float: left;
}

.content .sidebar {
    width: 253px;
    float: left;
    margin-left: 18px;
}

.mission-group .two-column.left .mission {
    margin-right: 8px;
}

.mission-group .two-column .mission .map {
    width: 100%;
    height: 218px;
    background-image: url('../../img/frontend/featurepic.png');
    background-size: cover !important;
}

.mission-group .two-column.left .mission .mission-details {
    padding: 0 19px;
}

.mission-group .two-column.left .mission .agent-pic {
    width: 35px;
    height: 35px;
    float: left;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    position: relative;
    top: -16px;
    margin-right: 8px;
}

.mission-map-controls{
    width: 50px;
    height: 50px;
    float: left;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    position: relative;
    top: -16px;
    margin-right: 8px;
}

.mission-map-minibanner{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
}

.mission-group .two-column.left .mission .agent-name {
    font-size: 14px;
    margin: 0px;
}

.mission-group .two-column.left .mission .mission-desc {
    font-size: 20px;
    width: 100%;
    margin: 15px 0px 0px 0px;
    word-break: break-word;
}

.mission-group .two-column.left .mission .actions {
    font-size: 14px;
    color: #8d8d8d;
    display: inline-block;
    margin-bottom: 19px;
}

.mission-group .two-column.left .btn-container {
    margin: 11px 0px 0px 0;
}

.mission-group .btn-container a {
    margin: 0 5px;
    color: #8d8d8d;
}

.mission-group .two-column.right .mission {
    float: left;
    margin-left: 3px;
    width: 338px;
    height: 103px;
}

.mission-group .two-column.right .mission:first-child,
.mission-group .two-column.right .mission:nth-child(2) {
    margin-bottom: 11.5px;
}

.mission-group .two-column.right .mission .map {
    width: 85px;
    float: left;
    height: 101px;
    background-size: cover !important;
    background-position: center !important;
}

.mission-group .two-column.right .mission .mission-details {
    float: left;
    width: 251px;
    height: 103px;
    padding: 0 10px;
}

.mission-group .two-column.right .mission .agent-name {
    font-size: 14px;
    margin: 0px;
}

.mission-group .two-column.right .mission .mission-desc {
    font-size: 20px;
    width: 100%;
    position: initial;
    margin: 14px 0px 1px 0px;
}

.mission-group .two-column.right .mission .actions {
    font-size: 14px;
    color: #8d8d8d;
    display: inline-block;
    /*margin: 8px 0px 0px 0px;*/
}

.mission-group .two-column.right .mission .btn-container a {
    float: right;
    margin-top: 6px;
}

.mission-group .three-column {
    width: 239px;
    float: left;
}

.mission-group .three-column:first-child .mission,
.mission-group .three-column:nth-child(2) .mission {
    margin-right: 10px;
}

.mission-group .three-column:last-child .mission {
    margin-right: 3px;
}

.mission-group .three-column .mission .mission-details {
    padding: 0 19px;
}

.mission-group .three-column .mission .map {
    width: 100%;
    height: 195px;
    background-image: url('../../img/frontend/featurepic.png');
    background-size: cover !important;
    background-position: center !important;
}

.mission-group .three-column .mission .agent-pic {
    width: 35px;
    height: 35px;
    float: left;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    position: relative;
    top: -16px;
    margin-right: 8px;
}

.agent-pic {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    vertical-align: middle;
}

.mission-group .three-column .mission .agent-name {
    font-size: 14px;
    margin: 0px;
}

.mission-group .three-column .mission .mission-desc {
    font-size: 20px;
    width: 100%;
    margin-bottom: 0px;
    margin-top: 15px;
    height: 56px;
}

.mission-group .three-column .mission .actions {
    font-size: 14px;
    color: #8d8d8d;
    display: inline-block;
    margin-bottom: 19px;
}

.mission-group .three-column .btn-container {
    margin-top: 14px;
}

/* privacy policy && terms of service*/
.policy-terms {
    margin-top: 30px;
}

.policy-terms ol li {
    font-weight: 600;
}
.policy-terms p,
.policy-terms ol li p{
    font-size: 14px;
    margin: 10px 0px;
    font-weight: normal;
}

.policy-terms .terms {
    margin-top: 30px;
    padding-left: 20px;
}

.policy-terms .terms li {
    font-weight: normal;
}

.panel {
    border: #ccc solid 1px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 1.5px 1.5px 5px #ccc;
    -moz-box-shadow: 1.5px 1.5px 5px #ccc;
    -webkit-box-shadow: 1.5px 1.5px 5px #ccc;
}

.panel .panel-header {
    width: 100%;
    height: 60px;
    background-color: #ffd800;
}

.panel .panel-header div.agent-pic {
    width: 86px;
    height: 86px;
    border: #fff 2px solid;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    float: left;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 10px;
}

.panel .panel-header p {
    font-size: 20px;
    float: left;
    font-weight: bold;
    margin-top: 25px;
}

/* sidebar */

.sidebar .panel {
    width: 252px;
    overflow: hidden;
    border: #ccc solid 1px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 1.5px 1.5px 5px #ccc;
    -moz-box-shadow: 1.5px 1.5px 5px #ccc;
    -webkit-box-shadow: 1.5px 1.5px 5px #ccc;
    margin-bottom: 24px;
}

.sidebar .panel .panel-header {
    width: 100%;
    height: 60px;
    background-color: #ffd800;
}

.sidebar .panel .panel-header img {
    width: 86px;
    height: 86px;
    border: #fff 2px solid;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    float: left;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 10px;
}

.sidebar .panel .panel-header p {
    font-size: 20px;
    float: left;
    font-weight: bold;
    margin: 18px 0px;
}

.sidebar .panel .panel-header .category {
    width: 100%;
}

.sidebar .panel .panel-header .agent-alias {
    float: left;
    font-weight: normal;
    font-size: 14px;
    margin: -3px 0px 0px 9px;
}

.sidebar .panel .panel-content {
    width: 233px;
    margin: 15px 10px 0px 10px;
    float: left;
}

.sidebar .list {
    border-top: 1px solid #cccccc;
    overflow: hidden;
}

.sidebar .list>a {
    color:#515151;
}
.sidebar .list .date {
    width: 50px;
    float: left;
    font-size: 14px;
    padding: 8px 4px;
}

.sidebar .list p {
    font-size: 14px;
    padding: 8px 0px;
    margin: 0px;
    float: left;
    width: 183px;
}

.sidebar .list .date strong {
    font-size: 20px;
}

.sidebar .viewmore {
    color: #ffd800;
    text-decoration: none;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    text-align: right;
    float: left;
    margin-bottom: 13px;
}

.sidebar .categories {
    margin-top: 0px!important;
}

.sidebar .categories div {
    width: 100%;
    margin: 0px;
    padding: 10px 0px 15px 0px;
    border-bottom: 1px solid #cccccc;
    font-size: 14px;
}

.sidebar .categories div p {
    padding: 0px 10px;
    margin: 0px;
}

.sidebar .categories div:nth-child(4) {
    border-bottom: 0px;
}

.sidebar .agent {
    width: 100%;
    overflow: hidden;
    float: left;
}

.sidebar .agent .agent-pic {
    width:60px;
    float: left;
    border-radius: 100%;
}

.sidebar .agent .details {
    padding:0px 15px;
    float: left;
    width: 193px;
}

.sidebar .agent .details p {
    margin-bottom: 0px;
}

.sidebar .agent .agent-name {
    font-size: 14px;
    margin: 0px;
    font-weight: bold;
}

.sidebar .media-container {
    width: 100%;
    float: left;
}
p.mission-announcement {
    font-size: 16px!important;
}
.gmap-marker-info.sidebar .panel {
    width: 100%;
    height: 100%;
}

.gmap-marker-info.sidebar .panel .panel-content {
    width: 94%;
}
.map-info.sidebar {
    width: 100%;
    margin-left:0px;
}
.map-info.sidebar .panel {
    width:100%;
}

.videodisplay {
    height: 210px;
}
.about-pi p {
    text-indent: 50px;
}
.about-pi .gmap {
    margin-bottom: 30px;
}

.pagination {
    margin: 0px;
}

.sort {
    margin-bottom: 0px;
    margin-left: 10px;
    padding: 7px 0px;
}

.mission-list .mission {
    width: 100%;
    height: 230px;
    margin: 0px;
    padding-bottom: 20px;
    border-bottom: 1px #ccc solid;
    margin-bottom: 20px;
}

.mission-list .mission:last-child {
    border: none;
}

.mission-list .mission a:hover {
    text-decoration: none;
}

.mission-list .mission .map {
    width: 300px;
    height: 210px;
    border: 1px #ccc solid;
}

.mission-list .mission .mission-details {
    width: 417px;
    height: 210px;
    padding-left: 15px;
    padding-right: 10px;
}

.mission-list .mission .mission-details .btn-container .social-media,
.socialmedia-btn .social-media {
    margin: 0px 5px;
}

.mission-list .mission .mission-details .views-comments a{
    color:#888;
    font-size: 16px;
    padding: 0px 5px;
}

.mission-list .mission .mission-title {
    font-size: 20px;
    color:#000;
    margin-bottom: 0px;
}

.mission-list .mission .mission-details small {
    color:#aaa;
}

.mission-list .mission .mission-details .mission-desc {
    margin-top: 20px;
}

.modal-title {
    margin-left: 15px;
    margin-top: 18px !important;
}

.mission-list .mission .angular-google-map-container {
    height: 210px;
}

.socialmedia-btn {
    margin: 10px 0px;
    float: left;
    width: 100%;
}

.map-report-btn div,
.map-report-btn div a{
    margin: 0px 7px;
}
.map-report-btn div,
.map-report-btn div a {
    color:#7f929c;
}
/*video*/
.video-container {
    width: 100%;
    margin: 30px 0px;
}

.about-maps {
    margin: 30px 0px;
}

.about-maps h2{
    margin-top: 0px;
}

.mission-list {
    margin-top: 20px;
}

/* footer */

footer {
    width: 100%;
    float: left;
}

.footer-content {
    width: 100%;
    padding-top: 54px;
    height: 260px;
    background-image: url('../../img/frontend/footer.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.footer-content .col {
    width: 165.333px;
    float: left;
}

.footer-content .col ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.footer-content .col ul li {
    padding: 7px 0px;
}

.footer-content .col ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: normal;
    font-size: 14px;
}

.footer-content p:nth-child(2) {
    color: #fff;
    font-size: 13px;
    margin-bottom: 20px;
}

.footer-content .input {
    width: 165.328px;
}

.footer-nav-header {
    color: #ffd800;
    font-size: 14px;
    font-weight: bold;
    padding: 0px!important;
    margin: 0px;
}

.footer-bottom {
    width: 100%;
    height: 56px;
    background: #ffd800;
}

.footer-bottom p {
    float: left;
    font-size: 14px;
    float: left;
    margin: 18px 0px;
}

.footer-bottom img {
    margin: 14px 0px;
}


/* main body */

.main-body {
    margin-top: 20px;
}

.main-body p {
    font-size: 14px;
    margin-bottom: 20px;
}

.main-body .left-content {
    width: 630px;
    float: left;
}

.main-body .left-content h3 {
    margin: 0px;
}

.left-content hr {
    margin: 10px 0px 15px 0px;
}

.main-body .left-content .form-container,
.userprofile .rightcontent .form-container {
    border: #ccc solid 1px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 1.5px 1.5px 5px #ccc;
    -moz-box-shadow: 1.5px 1.5px 5px #ccc;
    -webkit-box-shadow: 1.5px 1.5px 5px #ccc;
    padding: 30px 50px;
    margin: 0px 0px 20px 0px;
}

.main-body .tags-container{
    width: 60%;
    margin:auto;
}

.main-body .tags-container .title {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: bold;
}

.main-body .tags-container .tags {

}

.form-group .help-block {
    display: none;
}

.form-group.has-error .help-block {
    display: block;
}


/* Password Strength*/

.strength_meter {
    height: 23px;
    width: 100%;
    background: silver;
}

.strength_meter div {
    height: 23px;
    width: 100%;
    height: 23px;
    text-align: center;
    color: black;
    font-weight: bold;
    line-height: 23px;
}

.veryweak {
    background-color: #FFA0A0;
    border-color: #F04040!important
}

.weak {
    background-color: #FFB78C;
    border-color: #FF853C!important;
}

.medium {
    background-color: #FFEC8B;
    border-color: #FC0!important;
}

.strong {
    background-color: #C3FF88;
    border-color: #8DFF1C!important;
}

.button_strength {
    display: none;
}


/* become an agent */
.reg-success {
    height: 222px;
}

/* Form Control */

.form-control {
    border-radius: 0px;
}

form label {
    font-weight: normal !important;
    color: #9a9a9a;
}

.form-horizontal .control-label {
    text-align: left;
}

.birthday select.form-control {
    padding: 6px 3px;
}

.birthday .month {
    padding-right: 0;
    width: 120px;
}

.birthday .day {
    padding: 0 3px;
    width: 65px;
}

.birthday .year {
    padding: 0 3px;
    width: 82px;
}

.gender div label {
    margin:0px 10px;
}

.main-body .right-content {
    width: 362px;
    float: left;
}

.sidebar.right-content {
    margin: 0px;
}

.sidebar.right-content .panel {
    margin-left: 4%;
    width: 96%;
}

.sidebar.right-content .panel .panel-header {
    padding: 24px 0px;
    height: 100%;
}

.sidebar.right-content .panel .panel-header p {
    font-size: 18px;
    text-align: center;
    float: none;
    margin: 0px;
}

.sidebar.right-content .panel .panel-content {
    width: 100%;
    padding: 0px 20px;
    margin: 0px;
}

.sidebar.right-content .panel .panel-content h5 {
    margin-bottom: 5px;
    margin-top: 20px;
    font-weight: bold;
}

.sidebar .mission-details .mission-title {
    font-size: 20px;
    margin-bottom: 0px;
}

.sidebar .mission-details .desc {
    font-size: 14px;
    margin: 10px 0px;
    /*text-indent: 25px;*/
}

/* create map */

.create-map-page {
    background: url('/img/frontend/createmapbg.png') no-repeat;
    background-size: cover;
    margin-top: 0px !important;
    padding-top: 20px;
}

.create-map-page {
    background: url('/img/frontend/createmapbg.png') no-repeat;
    background-size: cover;
    margin-top: 0px !important;
    padding-top: 20px;
}

.create-map {
    width: 70%;
    margin: 0px auto;
}

.create-map .title {
    border-bottom: none !important;
    padding-top: 20px;
}

.create-map-map {
    width: 100%;
    background: url('/img/frontend/create-map-map.png') no-repeat;
    height: 300px;
}

.create-map-video {
    width: 100%;
}

.create-map-video .video {
    margin: auto;
    width: 70%;
    text-align: center;
}

.create-map-video .tagline {
    margin: auto;
    width: 70%;
    padding: 10px 0px 0px 50px;
    background: url('/img/frontend/share-this.png') no-repeat;
}

.create-map-video .socialbuttons {
    padding: 10px 0px 0px 50px;
    margin: auto;
    width: 70%;
}

.create-mission-map {
    margin-top: 30px;
}

.create-mission-map-button {
    background-color: #4698d8;
    font-size: 30px;
    color: #fff;
    padding: 20px;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
    -webkit-box-shadow: 0px 4px 0px 0px rgba(56, 134, 195, 1);
    -moz-box-shadow: 0px 4px 0px 0px rgba(56, 134, 195, 1);
    box-shadow: 0px 4px 0px 0px rgba(56, 134, 195, 1);
}

.load-bar {
    top:0;
    z-index: 99999;
}

@keyframes rotate {
    0%    { transform: rotate(0deg); }
    100%  { transform: rotate(360deg); }
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property:    -moz-transform, opacity;
  -ms-transition-property:     -ms-transform, opacity;
  -o-transition-property:      -o-transform, opacity;
  transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}

/* End: Recommended Isotope styles */



/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}

/* create mission maps */

.gmap {
    width: 100%;
    float: left;
    position: relative;
    border: #ccc solid 1px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 1.5px 1.5px 5px #ccc;
    -moz-box-shadow: 1.5px 1.5px 5px #ccc;
    -webkit-box-shadow: 1.5px 1.5px 5px #ccc;
}


/* Angularjs Map CSS*/

.angular-google-map-container {
    height: 500px;
}


/* Simple Check Symbol */

.check-success {
    font-size: 20px;
    color: #008000;
    width: 100%;
}


/* Drop Box*/

.drop-box {
    background: #F8F8F8 none repeat scroll 0% 0%;
    text-align: center;
    border: 1px dashed rgb(221, 221, 221);
    height: 100px;
    width: 100%;
    padding-top: 12%;
    margin: 10px 0px 10px 0px;
}

.drop-box-modal {
    background: #F8F8F8 none repeat scroll 0% 0%;
    text-align: center;
    border: 1px dashed rgb(221, 221, 221);
    height: 100px;
    width: 100%;
    padding-top: 8%;
    margin: 10px 0px 10px 0px;
}

.dragover {
    border: 5px dashed blue;
}


/* Pin Pic List*/

ul.pin-pic-list {
    padding-left: 0px;
    list-style: none;
}

ul.pin-pic-list li {
    list-style-type: none;
    padding: 3px;
    border-bottom: 1px solid;
}

ul.pin-pic-list li:nth-child(odd) {
    background: #F3F3F3;
}

ul.pin-pic-list a.remove-pin-pic {
    float: right;
}

/*.pin-pic-error {
    padding: 5px !important;
    font-size: 10px !important;
    border-radius: 0px !important;
    margin-bottom: 3px !important;
}*/

.pin-pic-error-close {
    right: 0px !important;
}


/* toggle button map */

.togglebutton {
    z-index: 0 !important;
    position: absolute !important;
    right: 5px !important;
    top: 10px !important;
    right: 10px !important;
    background-color: #ffd800 !important;
    border-color: #fff;
}

.btn-pi {
    color: #444;
    background-color: #ffd800;
    border-color: #fff;
}

.btn-link-pi {
    color:#ffd800;
    font-weight: bold;
}

.btn-link-pi:hover {
    color: #444;
}

.map-info-left {
    width: 61% !important;
}

.map-info-right {
    width: 38% !important;
    padding-left: 0px;
}

.map-info {
    margin-top: 20px;
}

.map-info .title {
    font-size: 24px;
}

/* spinner */
.spinner {
    margin-left: 10px;
    height: 28px;
    width: 28px;
    animation: rotate 0.8s infinite linear;
    border: 8px solid #000;
    border-right-color: transparent;
    border-radius: 50%;
}

/* userprofile */

.userprofile {
    margin: 0px;
}

.userprofile hr {
    margin: 15px 0px;
}

.userprofile .leftsidebar,
.userprofile .leftsidebar .panel {
    width: 230px;
    margin-left: 0px;
}

.userprofile .leftsidebar .panel .panel-header p {
    margin-top: 15px;
}

.userprofile .leftsidebar .panel .panel-content {
    width: 100%;
    margin: 0px;
}

.sidebar .panel .panel-content.announcement strong {
    color:#515151;
}

.sidebar .panel .panel-content.announcement {
    width: 230px;
    margin: 15px 10px 0px 10px;
}

.sidebar .panel .panel-content.announcement .list{
    width: 100%;
    border-top: none;
    border-bottom: 1px #ccc solid;
    margin-bottom:10px;
}

.sidebar .panel .panel-content.announcement .list:nth-child(3) {
    border-bottom: none;
}

.userprofile .leftsidebar .panel .panel-content.announcement {
    width:208px;
    margin: 15px 10px 0px 10px;
}

.userprofile .leftsidebar .panel .panel-content.announcement .list{
    width: 100%;
    border-top: none;
    border-bottom: 1px #ccc solid;
    margin-bottom:10px;
}

.userprofile .leftsidebar .panel .panel-content.announcement .list:nth-child(3) {
    border-bottom: none;
}

.userprofile .leftsidebar .panel .panel-content.announcement .list p {
    font-size: 10.5px;
    color:#515151;
}

.userprofile .leftsidebar .panel .panel-content ul {
    margin-top: 15px;
}

.userprofile .rightcontent {
    width: 742px;
    float: left;
    padding-left: 20px
}

.userprofile .rightcontent form h3 {
    margin-top: 0px;
}

.col-md-12.footer {
    padding: 10px 15px;
}
.col-md-12.footer label {
    margin-right: 20px;
}
.missiondate {
    margin-bottom: 5px;
    padding-left: 10px;
    color:rgb(142, 142, 142);
}
.panel.moda {
    margin-bottom: 0px;
}
.panel.moda .panel-header .close {
    margin-top: 4px;
    margin-right: 8px;
}
.panel.moda .panel-content .row:first-child {
    margin-top:50px;
}
.panel.moda .agent-name{
    width:80%;
    margin-top: 30px;
}
.panel.moda .pindate {
    width: 80%;
}
.panel.moda .panel-content .media .content{
    padding: 0 70px;
    margin: 0px;
}
.panel.moda .panel-content .notif-padding .maps {
    margin: 5px;
    width: 268px;
}
.panel.moda .panel-content .notif-padding .maps h4 {
    margin: 10px 5px 0px 5px;
    color:#666;
}
.panel.moda .panel-content .notif-padding .maps small {
    margin: 0px 5px 0px 5px;
    color:#ccc;
}
.panel.moda .panel-content .notif-padding .gmap .angular-google-map-container {
    height: 190px;
    width: 268px;
}
.panel.moda .author {
    border-top: 1px solid #ccc;
    padding: 10px 0px;
}
.lSSlideWrapper #imageGallery{
    background-color: #000;
}
.lightslider-container {
    padding: 0px 50px;
}
#imageGallery #lightslider-img {
    max-width: 100%;
    height: 400px;
    display: block;
    margin:auto;
}
#lightslider-img {
    max-width: 100%;
    height: 150px;
    display: block;
    margin:auto;
}
.lSPager.lSGallery li a img {
    height: 51px !important;
    max-width: none!important;
}
.no-margin {
    margin: 0px!important;
}

.no-list-style {
    list-style: none;
    padding-left: 28px;
}
.no-hover:hover {
    text-decoration: none;
}

.badge-pi {
    background-color: #ffd800;
    color:#515151;
}

.pi-bg {
    background-color: #FFD800!important;
}

.pinterest-img {
    visibility: collapse;
    position: absolute;
    top:0;
    left:0;
    height: 0px;
}

.comment-container {
    border-top: #ccc solid 1px;
}

.comment-container p {
    margin-top: 5px;
    font-size: 1.3em;
    color:#7f929c;
}
.comment-container p span {
    font-size: 12px;
    position: relative;
    top: 25px;
}

.commentbox {
    padding: 10px;
    background-color: #eee;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border:1px solid #ccc;
    padding-right: 15px 0px;
    float: left;
}

.commentbox .image,
.commentlist .image {
    border-radius: 100%;
    width: 80px;
    height: 80px;
}

.commentbox .input {
    height: 85px;
    width: 595px;
    margin-left: 19px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    resize: vertical;
}

.commentlist {
    padding: 13px;
    border-bottom: #eee 1px solid;
    padding-top: 25px;
}

.commentlist:last-child {
    border-bottom: none;
}

.commentlist .comment {
    width: 601px;
    margin-left: 10px;
    min-height: 100px;
}

.commentlist .comment p {
    font-size: 14px;
    word-break: break-word;
}

.commentlist .commentreplylist {
    border-top: #eee 1px solid;
    width: 611px;
    padding: 10px 0px;
}
.commentlist .commentreplylist.tbox {
    border-top: none;
}
.commentlist .commentreply .comment {
    width: 521px;
    min-height: 115px;
}

.loadmore .spinner {
    position: relative;
    left: 40%;
}

.reply-loadmore {
    width: 611px;
}

#toast-container > div {
    width:350px !important;
}

.album .images {
    width: 180px;
    height: 120px;
    margin:8px 14.5px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 2px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -webkit-border-radius: 3px;
    box-shadow: 1.5px 1.5px 5px #ccc;
    -moz-box-shadow: 1.5px 1.5px 5px #ccc;
    -webkit-box-shadow: 1.5px 1.5px 5px #ccc;
}
.album .images:hover {

    box-shadow: 8px 8px 5px #ccc;
    -moz-box-shadow: 8px 8px 5px #ccc;
    -webkit-box-shadow: 8px 8px 5px #ccc;
}

.album .images .galleryactionbutton {
    display: none;
}

.album .images .galleryactionbutton button {
    margin: 3px 3px 0px 0px;
}

.album .images:hover .galleryactionbutton {
    display: block;
}

#profpic {
    width: 150px;
    height: 150px;
    display: block;
}

.label_profile_pic {
    width: 150px;
    display: block;
}

/* For Search Button */



.search-box {
    -webkit-transition: width 0.6s, border-radius 0.6s,  box-shadow 0.6s;
    transition: width 0.6s, border-radius 0.6s,  box-shadow 0.6s;
    width: 33px;
    height: 33px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background: url('/img/mapsearch.png') #ffd800 no-repeat;
    background-position: 9px 9px;
    margin-top:9px;
}
.search-box + label .search-icon {
    color: black;
}
.search-box:hover {
    color: white;
    background: url('/img/mapsearch.png') #fff no-repeat;
    background-position: 9px 9px;
    box-shadow: 0 0 0 5px #fff;
}
.search-box:hover + label .search-icon {
    color: white;
}
.search-box:focus {
    -webkit-transition: width 0.6s cubic-bezier(0, 1.22, 0.66, 1.39), border-radius 0.6s;
    transition: width 0.6s cubic-bezier(0, 1.22, 0.66, 1.39), border-radius 0.6s;
    border: none;
    outline: none;
    box-shadow: none;
    padding-left: 15px;
    cursor: text;
    width: 300px;
    border-radius: auto;
    background: #ebebeb;
    color: black;
}
.search-box:focus + label .search-icon {
    color: black;
}
.search-box:not(:focus) {
    text-indent: -5000px;
    background: url('/img/mapsearch.png') #fff no-repeat;
    background-position: 9px 9px;
}

.authorimg {
    width: 100%;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    height: 96.5px;
}

/* MAP INFO WINDOW STYLE */

.custom-info-window{
    background: white;
    color: grey;
    padding: 10px;
    border: 1px solid white;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.8);
    border-radius: 5px;
    margin-top: 15px;
    width: 183px;
    margin-left: -85px;
}
.custom-info-window a{
    color: #000;
    text-decoration: underline;
}
.custom-info-window:after
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 10px 10px;
    border-color: white transparent;
    display: block;
    width: 0;
    z-index: 1;
    top: -16px;
    left: 77px;
}
.custom-info-window.view {
    width: 80px;
    margin-left: -37px;
    padding:2px;
    padding-bottom: 0px;
}
.custom-info-window.view:after {
    left: 28px;
}
.custom-info-window p {
    font-size: 13px;
    position:absolute;
    margin: 80px 0px 0px -2px;
    color:#484848;
    font-weight: bold;
    background-color:#fff;
    border-radius: 2px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
}
.agent-winimg {
    width: 72.5px;
    height: 72.5px;
    margin-bottom: 2px;
}

.markercontrol{
    font-size: 13px;
    cursor: pointer; cursor: hand;
}

.custom-info-window > img:first-child {
    display: none;
}

.control-disabled {
    color: grey !important;
    cursor: pointer !important;
    cursor: pointer !important;
}

/*media gallery*/
.xxx-modal-window .modal-dialog {
    width: 90%;
}

.xxx-modal-window .panel-main {
    height: 500px !important;
    overflow-y: scroll;
}

.youtube-play{
    position: absolute;
    top:0px;
    width:100%;
    margin-top: 16%;
    text-align: center;
}

.drop-box
{
  background: #F8F8F8 none repeat scroll 0% 0%;
  text-align: center;
  border: 2px dashed rgb(221, 221, 221);
  height: 100px;
  width: 100%;
  padding-bottom: 5%;
  padding-top: 5%;
  margin: 10px 0px 10px 0px;
  text-transform: uppercase;
  font-size: 20px;
}

.dragdropcenter
{
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}

.imagegallerystyle
{
  height: 160px;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  float:left;
  padding: 5px;
  margin-bottom:10px;
  width: 100%;
}

.galleryactionbutton{
    display: none;
}
.imagegallerystyle{
    cursor: pointer;
}
.check-icon{
    margin:5px;
    font-size: 30px;
    color: green;
}
.selectedstyle{
    border: 5px solid green;
}
.imagegallerystyle:hover{
    border: 5px solid #FF9641;
}
.imagegallerystyle:hover .galleryactionbutton{
    display: block;
}
.smallThumb{
    background-position: center;
    background-size: cover;
    width:35px;
    height: 35px;
}
.spinner2 {
  margin: 30px auto;
  width: 70px;
  height: 50px;
  text-align: center;
  font-size: 10px;
}

.spinner2 > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner2 .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner2 .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner2 .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner2 .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

.loadercontainer
{
 text-align: center;
 overflow: hidden;
}

.lSAction>a{
    z-index: 100 !important;
}