<div class="modal-body wrapper-lg">
    <div class="row">
        <div class="col-sm-12 ">
            <h3 class="m-t-none m-b font-thin">Add Category</h3>
            <p>Fill in the required data.</p>
            <form role="form" name="catform">
                <alert ng-repeat="alert in alerts" type="{[{alert.type}]}" close="closeAlert($index)">{[{alert.msg}]}</alert>
                <div class="form-group">
                    <label>Title</label>
                    <input type="text" class="form-control" ng-model="category.title" placeholder="Enter title" required="required">
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <textarea class="form-control" ng-model="category.description" placeholder="Enter description"></textarea>
                </div>
                <div class="checkbox m-t-lg">
                    <button type="submit" class="btn btn-sm btn-success pull-right text-uc m-t-n-xs" ng-click="save(category, catform)" ng-disabled="catform.$error.required "><strong>Save</strong></button>
                    <button type="submit" class="btn btn-sm btn-default pull-right text-uc m-t-n-xs" ng-click="cancel()"><strong>Close</strong></button>
                </div>
            </form>
        </div>
    </div>
</div>