    <div class="panel moda">
        <form name="form" id="form" class="fomr-horizontal" ng-submit="savepin(mk)">
            <div class="panel-header">
                <p class="text-center category full-width">Pin Information</p>
            </div>
            <div class="panel-content">
                <div class="">
                    <div class="col-md-12">

                    </div>
                </div>
            </div>
            <div class="panel-footer hiddenoverflow">
                <div class="pull-right">
        			<button class="btn btn-default" ng-click="cancel()">Cancel</button>
        			<button class="btn btn-pi" ng-disabled="form.$invalid">Save Pin</button>
                    <div class="spinner pull-left" ng-if="spinner"></div>
        		</div>
            </div>
        </form>
    </div>
