<div class="panel panel-default">

	<div class="panel-heading"><i class=" icon-note "></i> Media</div>
	<div class="panel-body panel-main">
		<div class="panel-body">
			<div class="btn-group">
				<label class="btn btn-success ng-valid ng-dirty active" ng-show="videoenabled" ng-model="mediaGallery" btn-radio="'all'">All <b class="badge bg-success dk pull-right">{[{ alllength }]}</b></label>
				<label class="btn btn-success ng-valid ng-dirty active" ng-model="mediaGallery" btn-radio="'images'"><icon class="fa fa-file-image-o"> </icon> Images ({[{ imagelength }]})</label>
				<label class="btn btn-success ng-valid ng-dirty" ng-show="videoenabled" ng-model="mediaGallery" btn-radio="'videos'"><icon class="fa fa-file-movie-o"> </icon> Videos ({[{ videoslength }]})</label>
			</div>
		</div>
		<div>
			<alert ng-repeat="alert in alertss" type="{[{alert.type }]}" close="closeAlerts($index)">{[{ alert.msg }]}</alert>
			<div class="loader" ng-show="imageloader">
				<div class="loadercontainer">

					<div class="spinner">
						<div class="rect1"></div>
						<div class="rect2"></div>
						<div class="rect3"></div>
						<div class="rect4"></div>
						<div class="rect5"></div>
					</div>
					Uploading your images please wait...

				</div>

			</div>

			<div ng-show="imagecontent">

				<div class="col-sm-12" ng-show="mediaGallery=='images'">
					<div class="dragdropcenter">
						<div ngf-drop ngf-select ng-model="files" ngf-change="upload(files)" class="drop-box"
							 ngf-drag-over-class="dragover" ngf-multiple="true" ngf-allow-dir="true"
							 accept="image/*,application/pdf">Drop images here or click to upload</div>
					</div>
				</div>
				<div class="col-sm-12" style="margin-bottom: 20px;" ng-show="mediaGallery=='videos'">
					<div class="input-group col-sm-5 align-center">
						<input class="form-control" type="text" ng-model="video" placeholder="Paste embed youtube here and click save...">
					  <span class="input-group-btn">
						<button class="btn btn-default" type="button" ng-click="savevid(video); video = ''">Save</button> <br><br>
					  </span>
					</div>
					<span ng-show="invalidvideo">Invalid youtube embed link.</span>
				</div>
				<div class="col-sm-3 " ng-show="mediaGallery=='images' || mediaGallery=='all'" ng-repeat="data in imagelist">
					<div  class="imagegallerystyle mediagallerythumb" ng-class="{selectedstyle: data.id == currentSelected.id}" style="background-image: url('{[{s3link}]}/uploads/{[{ directory }]}/{[{data.filename}]}');" ng-click="set(data)" >
						<span class="label bg-danger" ng-show="currentDeleting == data.id">Deleting...</span>
						<i class="fa fa-check-circle pull-left check-icon" ng-show="data.id == currentSelected.id"></i>
						<div class="galleryactionbutton" ng-hide="currentDeleting == data.id">
							<button class="btn btn-default btn-xs pull-right" ng-click="deletenewsimg(data.filename, $event); currentDeleting=data.id"><icon class="fa fa-times-circle"></icon></button>
							<a class="btn btn-default btn-xs pull-right" href="{[{s3link}]}/uploads/{[{ directory }]}/{[{data.filename}]}" target="_blank"><icon class="fa fa-external-link"></icon></a>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<div ng-if="videoenabled"  class="col-sm-3 " ng-repeat="data in videolist" ng-show="mediaGallery=='videos' || mediaGallery=='all'">
				<div ng-if="videoenabled"  class="col-sm-3 imagegallerystyle mediagallerythumb" ng-class="{selectedstyle: data.videoid == currentSelected.videoid}"  style="background-image: url('{[{ data.videourl }]}')" ng-click="set(data)">
					<span class="label bg-danger" ng-show="currentDeleting == data.id">Deleting...</span>
					<i class="fa fa-check-circle pull-left check-icon" ng-show="data.videoid == currentSelected.videoid"></i>
					<div class="youtube-play"><img src="/img/youtubeplay.png"/></div>
					<div class="galleryactionbutton" ng-hide="currentDeleting == data.id">
						<button class="btn btn-default btn-xs pull-right" ng-click="deletevideo(data.videoid, $event); currentDeleting=data.id"><icon class="fa fa-times-circle"></icon></button>
						<a href="https://www.youtube.com/watch?v={[{ data.youtubeid }]}" ng-click="$event.stopPropagation()" target="_blank" class="btn btn-default btn-xs pull-right"><icon class="fa fa-external-link"></icon></a>
					</div>
					<div class="clearfix"></div>
				</div>
					</div>
			</div>


		</div>

	</div>
	<footer class="panel-footer">
		<div class="col-sm-8">
			<div ng-show="currentSelected.filename">
				<div  ng-show="currentSelected" class="col-sm-3 smallThumb" style="background-image: url('{[{s3link}]}/uploads/{[{ directory }]}/{[{currentSelected.filename}]}');" >
				</div>
				<div  ng-show="currentSelected" class="col-sm-9" >
					<icon class="fa fa-link"></icon> {[{s3link}]}/uploads/{[{ directory }]}/{[{currentSelected.filename}]}
				</div>
			</div>
			<div ng-show="currentSelected.videoid">
				<div  ng-show="currentSelected" class="col-sm-3 smallThumb" style="background-image: url('{[{ currentSelected.videourl }]}');" >
				</div>
				<div  ng-show="currentSelected" class="col-sm-9" >
					<icon class="fa fa-link"></icon> https://www.youtube.com/watch?v={[{ currentSelected.youtubeid }]}
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<button class="btn pull-right btn-primary" ng-show="type=='content'" ng-click="copy(testi)" ng-disabled="testipage.$invalid || saving">Select</button>
			<button class="btn pull-right btn-primary" ng-show="type=='featured'" ng-click="ok(testi)" ng-disabled="testipage.$invalid || saving">Select</button>
			<button class="btn pull-right btn-default" ng-click="cancel()">Cancel</button>
		</div>
		<div style="clear:both;"></div>
	</footer>

</div>




