<div class="modal-body wrapper-lg">
    <div class="row">
        <div class="col-sm-12 ">
            <h3 class="m-t-none m-b font-thin">Are you sure you want to edit this News?</h3>
            <form role="form" name="catform">
                <div class="checkbox m-t-lg">
                    <button type="submit" class="btn btn-sm btn-success pull-right text-uc m-t-n-xs" ng-click="ok(newsid)"><strong>Ok</strong></button>
                    <button type="submit" class="btn btn-sm btn-default pull-right text-uc m-t-n-xs" ng-click="cancel()"><strong>Close</strong></button>
                </div>
            </form>
        </div>
    </div>
</div>