<div class="modal-body wrapper-lg">
    <div class="row">
        <div class="col-sm-12 ">
            <form role="form" name="formContacts" id="formContacts" class="form-horizontal" ng-submit="submitreply(replymsg)">
                <div class="form-group no-margin">
                    <label class="col-sm-2 control-label">Name:</label>
                    <div class="col-sm-10">
                        <label class="control-label">{[{ contact.firstname + " " + contact.lastname }]}</label>
                    </div>
                </div>
                <div class="form-group no-margin">
                    <label class="col-sm-2 control-label">Email:</label>
                    <div class="col-sm-10">
                        <label class="control-label">{[{ contact.email }]}</label>
                    </div>
                </div>
                <div class="form-group no-margin">
                    <label class="col-sm-2 control-label">Date:</label>
                    <div class="col-sm-10">
                        <label class="control-label">{[{ contact.created_at | formatdatetime }]}</label>
                    </div>
                </div>
                <blockquote>
                    <h5>{[{ contact.subject }]}</h5>
                    <small>{[{ contact.message }]}</small>
                </blockquote>
                <blockquote class="blockquote-reverse bg-grey" ng-repeat="reply in reply">
                    <h5>{[{ reply.message }]}</h5>
                    <footer style="font-size:11px">{[{ reply.created_at | formatdatetime }]}</footer>
                </blockquote>
                
                <div class="form-group no-margin">
                    <div class="col-sm-12">
                        <textarea name="msg" id="msg" class="form-control mg-bottom" style="resize:vertical" ng-model="replymsg" required></textarea>
                    </div>
                </div>
                <div class="form-group no-margin">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-sm btn-success pull-right" ng-disabled="formContacts.$invalid"><strong>Reply</strong></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
