<div class="modal-body wrapper-lg">
    <div class="row" ng-if="deleteshow==false">
        <h3 class="m-t-none m-b font-thin">Announcement</h3>
        <h6>{[{ news.created_at | formatdate }]}</h6>
        <h6>{[{news.summary}]}</h6>

        <img src="{[{news.cover}]}" class="center-block" style="width:85%;" ng-if="news.coverType=='image'" alt="">
        <div ng-if="news.coverType=='video'" ng-bind-html="videodisplay" class="center-block videocover"></div>

        <p class="mg-top">{[{ news.news }]}</p>
        <p class="mg-top" ng-bind-html="news.body | trustedHtml"></p>

        <div class="pull-right mg-bottom">
            <button class="btn btn-default" ng-click="close()">Cancel</button>
            <button class="btn btn-danger" ng-click="deleteNews()">Delete</button>
        </div>

    </div>

    <div class="row" ng-if="deleteshow">
        <div class="col-sm-12 ">
            <h3 class="m-t-none m-b font-thin">Are you sure you want to delete this announcement?</h3>
            <form role="form" name="catform">
                <div class="checkbox m-t-lg">
                    <button type="submit" class="btn btn-sm btn-success pull-right text-uc m-t-n-xs" ng-click="delete()" ng-disabled="catform.$error.required "><strong>Delete</strong></button>
                    <button type="submit" class="btn btn-sm btn-default pull-right text-uc m-t-n-xs" ng-click="close()"><strong>Close</strong></button>
                </div>
            </form>
        </div>
    </div>
</div>