<div class="modal-body wrapper-lg">
    <div class="row">
        <div class="col-sm-12" ng-if="showdelete==false && showsetkingpin==false && showeditpin==false && showdeleteComment==false && showeditComment==false && showmedia==false">
            <h3 class="m-t-none m-b font-thin">{[{pin.description}]}</h3>
            <small>by {[{ pin.username }]} - {[{ pin.created_at | formatdate }]}</small>

            <div class="col-lg-12 media">
		        <div class="hiddenoverflow">
		          <div class="lightslider-container mg-bottom">
		            <ul id="imageGallery">
		              <li ng-repeat="slide in slides" data-thumb="{[{slide.image}]}">
		                <img id="lightslider-img" src="{[{slide.image}]}" ng-if="slide.type=='image'" />
		                <div class="full-width" ng-if="slide.type == 'video'" ng-bind-html="slide.videodisplay">
		                </div>
		              </li>
		            </ul>
		          </div>

		          <div class="socialmedia-btn">
		            <div class="btn-container hiddenoverflow">
	                    <!-- facebook -->
	                    <div  ng-if="pin.status==1" class="fb-like pull-left social-media" data-href="<?php echo $base_url; ?>/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
	                    <!-- twitter -->
	                    <a  ng-if="pin.status==1" href="https://twitter.com/share" class="twitter-share-button social-media pull-left">Tweet</a>
	                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

	                    <div class="pull-right map-report-btn mg-bottom" ng-cloak>
	                        <div class="pull-left">
	                            <i class="fa fa-eye fa-lg"></i> {[{ pin.views }]}
	                        </div>
	                        <div class="pull-left">
	                           <i class="fa fa-comments-o fa-lg"></i> {[{ commentcount }]}
	                        </div>
	                        <div class="pull-left">
	                            <a ng-click="edit()" class="btn btn-link no-padding pull-left">
	                                <i class="fa fa-pencil-square-o fa-lg"></i> Edit
	                            </a>
	                            <a ng-click="showalbum()" class="btn btn-link no-padding pull-left">
	                                <i class="fa fa-file-image-o fa-lg"></i> Media Gallery
	                            </a>
	                            <a ng-click="setkingpin()" class="btn btn-link no-padding pull-left" ng-if="pin.pin==0">
	                                <i class="fa fa-map-marker fa-lg"></i> Set as Kingpin
	                            </a>
	                            <a ng-click="deletemission()" class="btn btn-link no-padding pull-left">
	                                <i class="fa fa-trash-o fa-lg"></i> Delete
	                            </a>
	                        </div>
	                    </div>
	                </div>
	              <div class="comment-container pull-left full-width" ng-cloak ng-if="pin.status==1">
	                  <p class="pull-left full-width"><i class="fa fa-comment-o fa-2x"></i> All Action Responses({[{ commentcount }]})</p>
	                  <div class="full-width">
	                      <div class="commentbox hiddenoverflow">
	                          <img class="image pull-left" src="/img/pilogo.png" alt="">
	                          <textarea class="input form-control pull-left comment mg-bottom" ng-model="comment" placeholder="Add a comment..." style="width:687px;"></textarea>
	                          <a ng-click="addresponse(comment)" class="btn btn-pi pull-right"><i class="fa fa-commenting-o"></i> Post</a>
	                      </div>
	                      <hr>
	                  </div>
	                  <div class="commentlist hiddenoverflow" ng-repeat="comment in comments">
	                      <img class="image pull-left" src="{[{comment.profile_pic_name}]}" ng-if="comment.superagent==0" alt="">
	                      <img class="image pull-left" src="/img/pilogo.png" ng-if="comment.superagent==1" alt="">
	                      <div class="comment pull-left" style="width:692px;">
	                          <h6 class="no-margin mg-bottom">{[{ comment.first_name + " " + comment.last_name }]} | <small>{[{ comment.created_at | formatdatetime }]}</small>

	                            <div class="btn-group pull-right" dropdown is-open="status.isopen">
	                              <button type="button" class="btn btn-link" dropdown-toggle ng-disabled="disabled"><span class="caret"></span>
	                              </button>
	                              <ul class="dropdown-menu text-left" role="menu" aria-labelledby="single-button">
	                                <li role="menuitem" ng-if="comment.superagent==1">
	                                    <a ng-click="comment.showedit=true" class="btn btn-link pull-left full-width text-left" ng-if="comment.showedit==false">Edit</a>
	                                    <a ng-click="comment.showedit=false" class="btn btn-link pull-left full-width text-left" ng-if="comment.showedit">Cancel</a>
	                                </li>
	                                <li role="menuitem"><a ng-click="deleteComment(comment.id)" class="btn btn-link pull-left full-width text-left">Delete</a></li>
	                              </ul>
	                            </div>

	                          </h6>
	                          <p  ng-cloak ng-bind-html="comment.reply" ng-if="comment.showedit==false"></p>
	                          <!-- edit comment -->
	                          <div class="full-width pull-left" ng-if="comment.showedit">
	                              <textarea class="input form-control pull-left full-width mg-bottom" ng-model="comment.reply" placeholder="Add a comment..."></textarea>
	                              <a ng-click="editResponse(comment.id, comment.reply)" class="btn btn-pi pull-right"><i class="fa fa-pencil-square-o"></i> Edit</a>
	                          </div>
	                      </div>
	                  </div>
	                  <button ng-if="commentcount >= 4 && commentcount > commentload" class="btn btn-block btn-pi" ng-click="loadcomment()">Load more</button>
	              </div>

	              <div class="pull-lef full-width" ng-if="pendingaction">
	                <footer class="panel-footer">
	                    <div class="pull-right">
	                        <a class="btn btn-default" ng-click="pendingpinAction(pin.id, 'disapprove')">Disapprove</a>
	                        <a class="btn btn-pi" ng-click="pendingpinAction(pin.id, 'approve')">Approve</a>
	                    </div>
	                </footer>
	              </div>
	            </div>
	          </div>
	         </div>
        </div>

        <div class="col-sm-12" ng-if="showsetkingpin">
      		<div class="col-sm-12 ">
	            <h3 class="m-t-none m-b font-thin">Are you sure you want to set this as king pin?</h3>
	            <form role="form" name="catform">
	                <div class="checkbox m-t-lg">
	                    <button type="submit" class="btn btn-sm btn-success pull-right text-uc m-t-n-xs" ng-click="setPin()"><strong>Ok</strong></button>
	                    <button type="button" class="btn btn-sm btn-default pull-right text-uc m-t-n-xs" ng-click="cancel()"><strong>Close</strong></button>
	                </div>
	            </form>
	        </div>
        </div>

        <div class="col-sm-12" ng-if="showdelete">
        	<div class="col-sm-12 ">
	            <h3 class="m-t-none m-b font-thin">Are you sure you want to delete this action pin?</h3>
	            <form role="form" name="catform">
	                <div class="checkbox m-t-lg">
	                    <button type="submit" class="btn btn-sm btn-success pull-right text-uc m-t-n-xs" ng-click="deletePin()"><strong>Ok</strong></button>
	                    <button type="button" class="btn btn-sm btn-default pull-right text-uc m-t-n-xs" ng-click="cancel()"><strong>Close</strong></button>
	                </div>
	            </form>
	        </div>
        </div>

        <div class="col-sm-12" ng-if="showmedia">
        	<div class="row">
		        <div class="col-lg-12">
		            <h3 class="m-t-none m-b font-thin">{[{pin.description}]}</h3>
		            <small>by {[{ pin.username }]} - {[{ pin.created_at | formatdate }]}</small>
		            <div class="notif-padding">
		              <div ngf-drop ngf-select ng-model="files" class="drop-box"
		                                  ngf-drag-over-class="dragover" ngf-multiple="true" ngf-change="prepare($files)" allow-dir="true"
		                                  accept="image/*"  style="padding-top: 5%;">Drop marker images here or click to upload
		              </div>
		              <div class="alert alert-danger alert-dismissible pin-pic-error" role="alert" ng-repeat="fe in flashError">
		                <button type="button" ng-click="removeerror($index)" class="close pin-pic-error-close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		                <strong ng-cloak>{[{ fe.name }]}</strong> image size is too big.
		              </div>

		              <div class="full-width hiddenoverflow">
		                <div class="col-lg-11 no-padding">
		                  <input type="text" class="form-control pull-left" id="name" ng-model="slide.video" ng-change="validatevid(slide.video)">
		                </div>
		                <div class="no-padding hiddenoverflow pull-left" style="width:65px">
		                  <div class="pull-right mg-bottom">
		                    <a ng-click="updateyt(slide.video)" class="btn btn-pi btn-block" ng-disabled='yt==false'> Save</a>
		                  </div>
		                </div>
		              </div>

		              <div ng-if="spinner"><div class="spinner2 pull-left"></div> Uploading image/s...</div>
		              <div class="pull-left album mg-bottom">

		                <div class="mg-bottom" ng-if="deleting"><div class="spinner2 pull-left"></div> Deleting image...</div>

		                <div ng-repeat="slide in slides" class="pull-left images" style="background-image: url('{[{slide.image}]}');">
		                  <div class="galleryactionbutton">
		                    <button  ng-if="slide.type=='image'" class="btn btn-default btn-xs pull-right" ng-click="deleteimg(slide.id)"><icon class="fa fa-times-circle"></icon></button>
		                  </div>
		                </div>
		              </div>

		            </div>
		        </div>

			    <footer class="panel-footer">
			        <div class="pull-right">
			            <a class="btn btn-default" ng-click="cancel()">Cancel</a>
			            <!-- <a class="btn btn-primary" ng-click="deletePin(pin.id)">Delete</a> -->
			        </div>
			    </footer>
		    </div>
        </div>

        <div class="col-sm-12" ng-if="showdeleteComment">
		    <div class="col-sm-12 ">
	            <h3 class="m-t-none m-b font-thin">Are you sure you want to delete this comment?</h3>
	            <form role="form" name="catform">
	                <div class="checkbox m-t-lg">
	                    <button type="submit" class="btn btn-sm btn-success pull-right text-uc m-t-n-xs" ng-click="deletec()"><strong>Delete</strong></button>
	                    <button type="button" class="btn btn-sm btn-default pull-right text-uc m-t-n-xs" ng-click="cancel()"><strong>Close</strong></button>
	                </div>
	            </form>
	        </div>
		</div>

		<div class="col-sm-12" ng-if="showeditComment">
			<div class="col-sm-12">
				<h3 class="m-t-none m-b font-thin">Are you sure you want to edit this comment?</h3>	
				<form role="form" name="catform">
	                <div class="checkbox m-t-lg">
	                    <button type="submit" class="btn btn-sm btn-success pull-right text-uc m-t-n-xs" ng-click="editcomment()"><strong>Edit</strong></button>
	                    <button type="button" class="btn btn-sm btn-default pull-right text-uc m-t-n-xs" ng-click="cancel()"><strong>Close</strong></button>
	                </div>
	            </form>
			</div>
		</div>
    </div>
</div>
