<div class="modal-body wrapper-lg">
    <div class="row">
        <h3 class="m-t-none m-b font-thin">Announcements</h3>
        <div class="newslist">
            <div class="col-lg-12" ng-repeat="news in news">
                <a href="" ng-click="viewnews(news)">
                    <div class="col-lg-4">
                        <div class="cover" style="background-image: url('{[{amazonlink}]}/uploads/mapnews/{[{news.mapid}]}/{[{news.cover}]}');" ng-if="news.coverType=='image'"></div>
                        <div class="cover" style="background-image: url('{[{news.cover | returnYoutubeThumb}]}');" ng-if="news.coverType=='video'"></div>
                    </div>
                    <div class="col-lg-8">
                        <h4 ng-if="news.title">{[{ news.title | limitTo: 40 }]}</h4>
                        <h6 ng-if="news.title">{[{ news.created_at | formatdate }]}</h6>
                        <h4 ng-if="!news.title">{[{ news.created_at | formatdate }]}</h4>
                        <p ng-if="news.news">{[{ news.news | limitTo: 200 }]}</p>
                        <p ng-if="news.summary">&#34;{[{ news.summary | limitTo: 205 }]}&#34;</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-12">
                <a href="" ng-if="count > news.length" class="btn btn-pi pull-left full-width" ng-click="loadmore()">Load more</a>
            </div>
        </div>
    </div>
</div>