<!-- banner -->
<div class="small-banner">
    <div class="container">
        <ul class="breadcrumbs h-list">
            <li><a href="/">Home</a></li>
            <li class="active">Create map</li>
        </ul>
        <h1>Create Map</h1>
    </div>
</div>
<!-- banner -->

<!-- Page content starts -->

<div class="content create-map-page" >
    <div class="container">
            <div class="pull-left create-map-map" >
            <!-- Login form -->
                <div class="create-map">
                    <div class="col-md-9" style="margin-top: 20px; margin-left: 25px;">
                        <!-- Title -->
                        <h1 class="title">Start your mission</h1>
                        <a ng-click="create()"><button class="create-mission-map-button">CREATE A MISSION MAP NOW</button></a>
                    </div>
                    <div class="col-md-3" style="width: 15%;">
                        <img src="/img/frontend/create-map-pin.png">
                    </div>
                </div>
            </div>
            <div class="pull-left create-map-video">
                <div class="video">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/gOW_azQbOjw" frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="tagline">
                    <h3>Everyone should try to make a difference.</h3>
                    <h5 style="font-style: italic;">Share this video.</h5>
                </div>
                <div class="socialbuttons">
                    <div style="width: 17%; float: left;">
                        <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count"></div>
                    </div>
                    <div style="width: 15%; float: left;">
                        <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                    </div>
                    <div style="width: 20%; float: left;">
                        <div class="g-plus" data-action="share"></div>
                    </div>
                </div>
            </div>
    </div>

</div>

<!-- Page content ends -->
