.xxx-modal-window .modal-dialog {
    width: 90%;
}

.xxx-modal-window .panel-main {
    height: 500px !important;
    overflow-y: scroll;
}

.youtube-play{
    position: absolute;
    top:0px;
    width:100%;
    margin-top: 16%;
    text-align: center;
}

.drop-box
{
  background: #F8F8F8 none repeat scroll 0% 0%;
  text-align: center;
  border: 2px dashed rgb(221, 221, 221);
  height: 100px;
  width: 100%;
  padding-bottom: 5%;
  padding-top: 5%;
  margin: 10px 0px 10px 0px;
  text-transform: uppercase;
  font-size: 20px;
}

.dragdropcenter
{
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}

.imagegallerystyle
{
  height: 160px;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  float:left;
  padding: 5px;
  margin-bottom:10px;
  width: 100%;
}

.galleryactionbutton{
    display: none;
}
.imagegallerystyle{
    cursor: pointer;
}
.check-icon{
    margin:5px;
    font-size: 30px;
    color: green;
}
.selectedstyle{
    border: 5px solid green;
}
.imagegallerystyle:hover{
    border: 5px solid #FF9641;
}
.imagegallerystyle:hover .galleryactionbutton{
    display: block;
}
.smallThumb{
    background-position: center;
    background-size: cover;
    width:35px;
    height: 35px;
}
.spinner {
  margin: 30px auto;
  width: 70px;
  height: 50px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

.loadercontainer
{
 text-align: center;
 overflow: hidden;
}

#pageslugs {
    width:150px;
    margin-left: 1%;
    top: -7px;
    position: relative;
}

.mg-left {
    margin-left: 6px;
    margin-bottom: 10px;
}

.pagestatuscontent
{
  padding:5px;
  float: left;
  /*width: 90px;*/
  overflow: hidden;
}

.checkstatuscontent
{
  float: left;
  width: 40px;
  overflow: hidden;
}

.full-width {
  width: 100%;
}

.btn-pi {
    color: #444;
    background-color: #ffd800;
    border-color: #fff;
}

.bg-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;  
}

.no-margin {
    margin: 0px;
}

.no-padding {
  padding: 0px;
}

.mg-top {
    margin-top: 20px;
}

.mg-bottom {
    margin-bottom: 15px;
}

.bg-grey {
    background-color: #EEE;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.gmap {
    width: 100%;
    float: left;
    position: relative;
    border: #ccc solid 1px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 1.5px 1.5px 5px #ccc;
    -moz-box-shadow: 1.5px 1.5px 5px #ccc;
    -webkit-box-shadow: 1.5px 1.5px 5px #ccc;
}

.angular-google-map-container {
    height: 500px;
}

.custom-info-window{
    background: white;
    color: grey;
    padding: 10px;
    border: 1px solid white;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.8);
    border-radius: 5px;
    margin-top: 15px;
    width: 183px;
    margin-left: -85px;
}
.custom-info-window a{
    color: #000;
    text-decoration: underline;
}
.custom-info-window:after
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 10px 10px;
    border-color: white transparent;
    display: block;
    width: 0;
    z-index: 1;
    top: -16px;
    left: 77px;
}
.custom-info-window.view {
    width: 80px;
    margin-left: -37px;
    padding:2px;
    padding-bottom: 0px;
}
.custom-info-window.view:after {
    left: 28px;
}
.custom-info-window p {
    font-size: 13px;
    position:absolute;
    margin: 80px 0px 0px -2px;
    color:#484848;
    font-weight: bold;
    background-color:#fff;
    border-radius: 2px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
}
.agent-winimg {
    width: 72.5px;
    height: 72.5px;
    margin-bottom: 2px;
}

.custom-info-window > img:first-child {
    display: none;
}

/*view pin modal*/
.socialmedia-btn {
    margin: 10px 0px;
    float: left;
    width: 100%;
}

.map-report-btn div,
.map-report-btn div a{
    margin: 0px 7px;
}
.map-report-btn div,
.map-report-btn div a {
    color:#7f929c;
}
.lSSlideWrapper #imageGallery{
    background-color: #000;
}
.lightslider-container {
    padding: 0px 50px;
}
#imageGallery #lightslider-img {
    max-width: 100%;
    height: 400px;
    display: block;
    margin:auto;
}
#lightslider-img {
    max-width: 100%;
    height: 150px;
    display: block;
    margin:auto;
}
.lSPager.lSGallery li a img {
    height: 51px !important;
    max-width: none!important;
}

.comment-container {
    border-top: #ccc solid 1px;
}

.comment-container p {
    margin-top: 5px;
    font-size: 1.3em;
    color:#7f929c;
}
.comment-container p span {
    font-size: 12px;
    position: relative;
    top: 25px;
}

.commentbox {
    padding: 10px;
    background-color: #eee;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border:1px solid #ccc;
    padding-right: 15px 0px;
    float: left;
}

.commentbox .image,
.commentlist .image {
    border-radius: 100%;
    width: 80px;
    height: 80px;
}

.commentbox .input {
    height: 85px;
    width: 595px;
    margin-left: 19px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    resize: vertical;
}

.commentlist {
    padding: 13px;
    border-bottom: #eee 1px solid;
    padding-top: 25px;
}

.commentlist:last-child {
    border-bottom: none;
}

.commentlist .comment {
    width: 737px;
    margin-left: 10px;
    min-height: 100px;
}

.commentlist .comment p {
    font-size: 14px;
}

.commentlist .commentreplylist {
    border-top: #eee 1px solid;
    width: 743px;
    padding: 10px 0px;
}
.commentlist .commentreplylist.tbox {
    border-top: none;
}
.commentlist .commentreply .comment {
    width: 653px;
    min-height: 115px;
}

.loadmore .spinner {
    position: relative;
    left: 40%;
}

.reply-loadmore {
    width: 611px;
}

.album .images {
    width: 180px;
    height: 120px;
    margin:8px 14.5px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 2px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -webkit-border-radius: 3px;
    box-shadow: 1.5px 1.5px 5px #ccc;
    -moz-box-shadow: 1.5px 1.5px 5px #ccc;
    -webkit-box-shadow: 1.5px 1.5px 5px #ccc;
}
.album .images:hover {

    box-shadow: 8px 8px 5px #ccc;
    -moz-box-shadow: 8px 8px 5px #ccc;
    -webkit-box-shadow: 8px 8px 5px #ccc;
}

.album .images .galleryactionbutton {
    display: none;
}

.album .images .galleryactionbutton button {
    margin: 3px 3px 0px 0px;
}

.album .images:hover .galleryactionbutton {
    display: block;
}

.spinner2 {
    margin-left: 10px;
    height: 28px;
    width: 28px;
    animation: rotate 0.8s infinite linear;
    border: 8px solid #000;
    border-right-color: transparent;
    border-radius: 50%;
}

.mapnews {
  border-bottom: 1px solid #eee;
}

.mapnews blockquote p {
  font-size: 12px;
}

.newslist {
    height: 344px;
    overflow-y: scroll;
    overflow-x: none;
}

.newslist .col-lg-12 {
    padding-top:10px;
    padding-bottom:10px;
}

.newslist .col-lg-4,
.newslist .col-lg-8 {
    padding-left: 0px;
}

.newslist .cover{
    width: 100%;
    height: 130px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 12px;
}